.gradle
.idea
build
out
bootstrap/.gradle
bootstrap/.idea
bootstrap/build
bootstrap/out
bootstrap/bin
application/.gradle
application/src/main/resources/simplelogger.properties
application/.idea
application/build
application/out
application/bin
/output/
/application/lombok.config
/application/log/
/application/log/edomh.log
/application/local.properties
todo.txt
ship.full
edomh_codesigning.pfx