.gradle
.idea
build
out
bootstrap/.gradle
bootstrap/.idea
bootstrap/build
bootstrap/out
application/.gradle
application/src/main/resources/simplelogger.properties
application/.idea
application/build
application/out
/output/
/application/lombok.config
/application/log/
/application/log/edomh.log
todo.txt