.engineers-tab {
  @include tab;
}

.engineers-tab-content {
  @include scroll-pane-content;

  .engineer-grid {
    @include hvGap(0.25em);
    -fx-spacing: 0.25em;

    .engineer-card {
      @include engineer-card;

      .specialisation {

        .name {
          -fx-alignment: center-right;
          -fx-max-height: 2.2em;
          -fx-font-size: 1em;
        }

        .spec-image {
          @include fixedWidth(2.2em);
          @include fixedHeight(2.2em);
          @include awesome-icons;
          .glyph-icon{
            -fx-font-size: 2.2em !important;
          }
        }

        &:force {
          .name {
            -fx-text-fill: $text-color-force;
          }
        }

        &:dynamic {
          .name {
            -fx-text-fill: $text-color-dynamic;
          }
        }

        &:strategic {
          .name {
            -fx-text-fill: $text-color-strategic;
          }
        }

        &:hybrid {
          .name {
            -fx-text-fill: $text-color-white;
          }
        }

        &:unknown {
          .name {
            -fx-text-fill: $text-color-white;
          }
        }
      }
    }


  }
}