<configuration>
    <timestamp key="startTimestamp" datePattern="HHmmssSSS"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/edomh.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/edomh.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>14</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="nl.jixxed.eliteodysseymaterials.log.RollOncePerSessionTriggeringPolicy"/>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.appender.console.level.sentry:-OFF}</level>
        </filter>
        <options>
            <dsn>https://1aacf97280717f749dfc93a1713f9551@o4507814449774592.ingest.de.sentry.io/4507814504759376</dsn>
        </options>
    </appender>
    <logger name="edomh" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="Sentry" />
    </root>
</configuration>