[Desktop Entry]
Type=Application
Name=Elite Dangerous Odyssey Materials Helper
Exec=entrypoint %u
Icon=nl.jixxed.edomh
Terminal=false
Keywords=edo;edomh;elite dangerous;ed;elite;odyssey;materials helper;
