@mixin fixedWidth($width) {
  -fx-min-width: $width;
  -fx-pref-width: $width;
  -fx-max-width: $width;
}

@mixin fixedHeight($height) {
  -fx-min-height: $height;
  -fx-pref-height: $height;
  -fx-max-height: $height;
}

@mixin hvGap($gapSize) {
  -fx-hgap: $gapSize;
  -fx-vgap: $gapSize;
}


@mixin tab {
  -fx-background-insets: 0 0 0 0;
  -fx-effect: none;
  -fx-font-size: 1.35em;
}

@mixin tabpane {
  -fx-background-insets: 0;

  &:left {
    > .tab-header-area {
      -fx-padding: 1em 0 0 0;
      -fx-pref-height: 3.5em;

      > .tab-header-background {
        -fx-background-insets: 0;
        -fx-background-color: #111111;
        -fx-effect: none;
      }

      > .headers-region > .tab {
        -fx-border-width: 1px;
        -fx-border-color: black;

        &:armed,
        &:selected,
        &:focused {
          -fx-background-color: #252525;
          -fx-border-width: 0;
        }
      }
    }
  }
}

@mixin searchbar {
  .filter-and-sort {
    @include fixedHeight(2.5em);
    -fx-background-insets: 1px;
    -fx-background-radius: 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: $border-color-grey;
  }

  .search-input {
    @include fixedHeight(2.5em);
    -fx-background-insets: 1px;
    -fx-background-radius: 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: $border-color-grey;
  }

  .menubutton {
    @include fixedWidth(3.5em);
    @include fixedHeight(2.5em);
    -fx-background-insets: 0;
    -fx-background-color: $background-color-input;
    -fx-text-fill: $text-color-white;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: $border-color-grey;
    -fx-border-insets: 0;
    -fx-padding: 0;

    > .text {
      -fx-font-size: 1em;
    }

    &:hover,
    &:armed,
    &:selected {
      -fx-background-color: $background-color-white;
      -fx-text-fill: $text-color-black;
    }
  }
}

@mixin scroll-pane-content {
  -fx-fit-to-width: true;
  -fx-fit-to-height: true;
  .scroll-pane-content {
    -fx-padding: 0.25em;
  }
}

@mixin about {
  -fx-spacing: 0.5em;
  .about-version {
    -fx-alignment: center;
  }

  .about-download-link {
    -fx-alignment: center;
  }

  .about-disclaimer1 {
    -fx-alignment: center;
  }

  .about-disclaimer2 {
    -fx-alignment: center;
  }

  .about-donate {
    -fx-alignment: center;
  }

  .about-discord {
    -fx-alignment: center;
  }

  .about-discord-image {
    @include fixedWidth(16.6em);
    @include fixedHeight(5.333em);
  }

  .about-bugs {
    -fx-pref-width: 45em;
    -fx-alignment: center;
  }

  .about-donate-button {
    @include fixedWidth(8.33em);
    @include fixedHeight(8.33em);
  }

  .about-donate-image {
    @include fixedWidth(8.33em);
    @include fixedHeight(8.33em);
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
  }

  .about-donate-commission {
    @include fixedWidth(8.33em);
    -fx-text-alignment: center;
    -fx-alignment: baseline-center;
  }
}

@mixin menu-modifier {
  -fx-background-color: #0f0f0f;
  -fx-border-color: black;

  .name {
    -fx-label-padding: 0.3em;
    -fx-min-height: 2em;
    -fx-text-fill: $text-color-blue;
  }

  .value {
    -fx-text-fill: $text-color-blue;
    -fx-label-padding: 0.3em;
    -fx-min-height: 2em;
    -fx-alignment: center-right;
    -fx-max-width: 1000;
  }
  &:negative {
    .name {
      -fx-text-fill: $text-color-red;
    }

    .value {
      -fx-text-fill: $text-color-red;
    }
  }
}

@mixin copyable-location {

  -fx-font-weight: normal;
  -fx-hgap: 0.25em;

  &:hover {
    -fx-cursor: hand;

    .location {
      -fx-text-fill: lighten($text-color-blue, 10%);
    }
  }

  .location {
    -fx-text-fill: $text-color-blue;
  }

  .copy-icon {
    @include fixedWidth(1em);
    @include fixedHeight(1em);
    -fx-fill: $text-color-grey;
  }
  .permit-icon {
    //@include fixedWidth(1em);
    @include fixedHeight(1em);

    .glyph-icon {
      -fx-fill: $text-color-dark-red;
      -fx-font-size: 1em !important;
    }
    &:obtained{
      .glyph-icon {
        -fx-fill: $text-color-green;
      }
    }
  }

  .distance {
    -fx-text-fill: $text-color-grey;
  }
}

@mixin engineer-card {
  @include fixedWidth(21em);
  -fx-background-color: #0f0f0f;
  //-fx-padding: 0 0 1em 0;

  .separator {
    .line {
      -fx-border-width: 0.1em;
      -fx-border-insets: 0.25em 0 0.25em 0;
    }
  }


  .engineer-image {
    @include fixedWidth(21em);
    @include fixedHeight(15.8em);
  }

  .text-box {
    -fx-padding: 0.25em;
    -fx-spacing: 0.1em;
  }
  .name {
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    //-fx-label-padding: 5px;
    -fx-cursor: hand;
    -fx-content-display: right;
    .colonia-icon {
      .glyph-icon {
        -fx-font-size: 1.2em !important;
        -fx-fill: $text-color-white;
      }
    }

    &:hover {
      -fx-text-fill: lighten($text-color-blue, 10%);
      .colonia-icon {
        .glyph-icon {
          -fx-fill: lighten($text-color-blue, 10%);
        }
      }
    }
  }
  .category {
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
  }

  .blueprint {
    -fx-text-fill: $text-color-blue;
    -fx-max-width: 19.6em;
    -fx-wrap-text: true;

    &:hover {
      -fx-text-fill: lighten($text-color-blue, 10%);
      -fx-cursor: hand;
    }
  }

  .bullet {
    -fx-text-fill: $text-color-blue;
    -fx-text-alignment: center;
    -fx-min-width: 1.3em;
    -fx-max-width: 1.3em;
  }

  .prerequisite {
    -fx-text-fill: $text-color-blue;
    -fx-max-width: 19.6em;
    -fx-wrap-text: true;

    &:hover {
      -fx-text-fill: lighten($text-color-blue, 10%);
      -fx-cursor: hand;
    }
  }

  .copyable-location {
    @include copyable-location;
  }
}

@mixin segmented-bar-straight {
  &:horizontal > .only-segment {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
  }

  &:horizontal > .first-segment {
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
  }

  &:horizontal > .middle-segment {
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
  }

  &:horizontal > .last-segment {
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
  }
  -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.segmentbar.SegmentedBarSkin";
}

@mixin popover-style {
  -fx-background-color: transparent !important;
  -fx-border-width: 0;

  & > .border {
    -fx-stroke: #fff !important;
    -fx-stroke-width: 1px !important;
    -fx-fill: #0f0f0f !important;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0) !important;
  }
  -fx-background-insets: 0 !important;
  -fx-border-insets: 0em;
  -fx-padding: 0em;

}

@mixin tooltip {
  -fx-background: #1e1e1e;
  -fx-text-fill: white;
  -fx-background-color: #1e1e1e;
  -fx-background-radius: 0px;
  -fx-background-insets: 0;
  -fx-padding: 0.667em 0.75em 0.667em 0.75em;
  /* 10px */
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
  -fx-font-size: 1em;
  -fx-font-weight: normal;
  -fx-font-style: normal;
}

@mixin commodities {
  .commodities-chemicals {
    -fx-fill: rgb(160, 219, 131);
  }
  .commodities-consumer-items {
    -fx-fill: rgb(255, 236, 149);
  }
  .commodities-foods {
    -fx-fill: rgb(255, 228, 94);
  }
  .commodities-industrial-materials {
    -fx-fill: rgb(217, 236, 0);
  }
  .commodities-legal-drugs {
    -fx-fill: rgb(126, 252, 0);
  }
  .commodities-limpets {
    -fx-fill: #ffffff;
  }
  .commodities-limpets-1 {
    -fx-fill: #a6a6a6;
  }
  .commodities-limpets-2 {
    -fx-fill: #ffffff;
  }
  .commodities-machinery {
    -fx-fill: rgb(255, 235, 112);
  }
  .commodities-medicines {
    -fx-fill: rgb(255, 42, 0);
  }
  .commodities-metals {
    -fx-fill: rgb(255, 154, 21);
  }
  .commodities-minerals {
    -fx-fill: rgb(255, 240, 138);
  }
  .commodities-salvage {
    -fx-fill: rgb(75, 161, 255);
  }
  .commodities-slavery {
    -fx-fill: rgb(254, 248, 179);
  }
  .commodities-technology {
    -fx-fill: rgb(185, 255, 0);
  }
  .commodities-textiles {
    -fx-fill: rgb(255, 212, 74);
  }
  .commodities-waste {
    -fx-fill: rgb(153, 255, 0);
  }
  .commodities-weapons {
    -fx-fill: rgb(255, 88, 0);
  }
}

@mixin awesome-icons {

  .glyph-icon {
    -fx-font-size: 1.5em !important;
  }

  .ships-multicrew-radar {
    -fx-fill: rgb(21, 158, 194);
  }

  .other-powerplay-open {
    -fx-fill: rgb(255, 198, 0);
  }

  .ships-guardian-1 {
    -fx-fill: rgb(2, 111, 162);
  }

  .ships-guardian-2 {
    -fx-fill: rgb(0, 170, 252);
  }

  .other-communitygoal {
    //-fx-font-size: 1.3em !important;
    -fx-fill: rgb(255, 235, 0);
  }

  .other-arx {
    -fx-fill: rgb(255, 255, 255);
  }

  .ships-engineer {
    -fx-font-size: 1.3em !important;
    -fx-fill: rgb(255, 255, 255);
  }

  .ships-gimballed {
    -fx-fill: rgb(255, 255, 255);
  }

  .ships-turreted {
    -fx-fill: rgb(255, 255, 255);
  }

  .ships-fixed {
    -fx-fill: rgb(255, 255, 255);
  }

  .ships-synthesis-basic {
    -fx-fill: $text-color-blue;
  }

  .ships-synthesis-standard {
    -fx-fill: $text-color-blue;
  }

  .ships-synthesis-premium {
    -fx-fill: $text-color-blue;
  }

  .ships-preengineered {
    -fx-fill: rgb(242, 200, 14);
  }
  .ships-advanced {
    -fx-fill: rgb(255, 255, 255);
  }
  .ships-enhanced {
    -fx-fill: rgb(255, 255, 255);
  }
  .ships-dumbfire {
    -fx-fill: rgb(255, 255, 255);
  }
  .ships-seeker {
    -fx-fill: rgb(255, 255, 255);
  }
  .ships-legacy {
    -fx-fill: rgb(209, 106, 10);
  }
  .other-carrier-simple {
    -fx-fill: rgb(255, 255, 255);
  }
  .ships-ship-1 {
    -fx-fill: rgb(142, 142, 142);
  }
  .ships-ship-2 {
    -fx-fill: rgb(255, 255, 255);
  }
  .squadron-carrier {
    -fx-fill: rgb(255, 255, 255);
  }
  .station-coriolis {
    -fx-fill: rgb(255, 255, 255);
  }
  .onfoot-backpack-1 {
    -fx-fill: rgb(255, 255, 255);
  }
  .onfoot-backpack-2 {
    -fx-fill: rgb(255, 255, 255);
  }
  .other-wishlist {
    -fx-fill: rgb(255, 255, 255);
  }
  .materials-good-1 {
    -fx-fill: rgb(218, 155, 16);
  }
  .materials-good-2 {
    -fx-fill: rgb(218, 190, 84);
  }
  .materials-data {
    -fx-fill: rgb(43, 176, 198);
  }
  .materials-tech-1 {
    -fx-fill: rgb(200, 244, 246);
  }
  .materials-tech-2 {
    -fx-fill: rgb(151, 238, 242);
  }
  .materials-circuit-1 {
    -fx-fill: rgb(251, 206, 192);
  }
  .materials-circuit-2 {
    -fx-fill: rgb(250, 151, 120);
  }
  .materials-chemical-1 {
    -fx-fill: rgb(201, 232, 179);
  }
  .materials-chemical-2 {
    -fx-fill: rgb(151, 229, 93);
  }
  .onfoot-dynamic {
    -fx-fill: $text-color-dynamic;
  }
  .onfoot-force {
    -fx-fill: $text-color-force;
  }
  .onfoot-strategic {
    -fx-fill: $text-color-strategic;
  }
  .other-stock-bracket-low {
    -fx-fill: $text-color-red;
  }
  .other-stock-bracket-high {
    -fx-fill: $text-color-green;
  }
}