.blueprint-menu {
  @include fixedWidth(36.2em);
  -fx-border-color: #2b2b2b;
  -fx-border-width: 0.1em;

  .blueprint-title-pane {
    @include fixedWidth(36em);
  }

  //combobox
  .blueprint-list {
    @include fixedWidth(36em);
  }

  .blueprint-content {
    -fx-padding: 0.25em;
    -fx-max-height: 9999;
    @include fixedWidth(35.75em);

    //controls
    .wishlist-count-box {
      -fx-spacing: 10;
      -fx-alignment: top-right;
    }

    .wishlist-count {
      -fx-background-radius: 1.2em;
      -fx-background-color: $background-color-white;
      -fx-label-padding: 0.4em;
      -fx-font-weight: bold;
      -fx-text-fill: $text-color-black;
    }

    .wishlist-button {
      -fx-fit-to-width: true;
    }

    //titles
    .title {
      -fx-font-size: 1.1em;
      -fx-max-width: 35.5em;
      -fx-wrap-text: true;
      -fx-font-weight: bold;
      -fx-alignment: bottom-left;

      &.spacing {
        @include fixedHeight(2em);
        -fx-label-padding: 0 0 0.2em 0;
      }
    }

    //description
    .description {
      -fx-max-width: 35.5em;
      -fx-wrap-text: true;
      -fx-font-weight: normal;
      -fx-text-fill: $text-color-white;
    }

    //ingredients
    .ingredient-flow {
      @include hvGap(0.25em);
      @include fixedWidth(35.5em);
    }

    .ingredient {
      @include fixedWidth(17.5em);

      -fx-border-color: $border-color-black;
      -fx-background-color: $background-color-dark;

      &.mission {
        @include fixedWidth(35.25em);
      }

      .name {
        -fx-text-fill: $text-color-white;
        -fx-label-padding: 0.25em;
        -fx-wrap-text: true;
        -fx-font-weight: bold;
      }

      .required, .available {
        -fx-padding: 0.25em;
        -fx-font-weight: normal;
      }

      .quantity {
        -fx-font-weight: bold;
        -fx-padding: 0.25em;
      }

      .required, .available, .quantity {
        -fx-text-fill: $text-color-red;
      }

      &:filled .required, &:filled .available, &:filled .quantity {
        -fx-text-fill: $text-color-green;
      }

      .image {
        @include fixedWidth(2em);
        @include fixedHeight(2em);
        -fx-fit-to-height: true;
        -fx-fit-to-width: true;
      }
    }

    //engineers
    .engineer-flow {
      @include hvGap(0.25em);
      @include fixedWidth(35.5em);
    }

    .engineer {
      .name {
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-black;
        -fx-text-fill: $text-color-red;
        -fx-padding: 0.25em;
      }

      &:unlocked .name {
        -fx-text-fill: $text-color-green;
      }

      &:lowgrade .name {
        -fx-text-fill: $text-color-yellow;
      }
    }

    //modifiers
    .modifier {
      @include menu-modifier;
    }

    .modifier-flow {
      @include hvGap(0.25em);
      @include fixedWidth(35.5em);
    }

  }

  .about-title-pane {
    @include fixedWidth(36em);
    -fx-fill-width: true;
    -fx-padding: 0;
  }

  .about {
    @include about;
  }
}