.colonisation-tab {
  @include tab;
}

.colonisation-tab-content {
  @include scroll-pane-content;

  .colonisation-view {
    -fx-spacing: 0.25em;

    .colonisation-menu {
      -fx-spacing: 0.25em;
      -fx-alignment: center-left;

      .colonisation-select {
        @include fixedWidth(35em);
      }

      .colonisation-checkbox {
      }
    }

    .project-info {
      @include hvGap(0.25em);

      .project-view {
        @include fixedWidth(32em);
        -fx-padding: 0.25em;
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-black;

        .contents {
          //@include hvGap(0.5em);
          -fx-spacing: 0.25em;

          .title {
            //-fx-text-fill: $text-color-white;
            //-fx-font-size: 1.2em;
            //-fx-font-weight: bold;
          }

          .colonisation-select {
            @include fixedWidth(20em);
          }

          .name-input {
            @include fixedWidth(20em);
          }

          .market-id {
            -fx-font-weight: bold;
          }

          .copyable-location {
            @include copyable-location;
            -fx-max-width: 24em;
          }
        }

        .buttons-contents {
          -fx-alignment: top-right;
        }
      }

      .stats-blazers {
        -fx-spacing: 0.25em;

        .project-stats {
          @include fixedWidth(32em);
          -fx-padding: 0.25em;
          -fx-background-color: $background-color-dark;
          -fx-border-color: $border-color-black;

          .title-amount {

          }

          .amount {
            -fx-font-weight: bold;
          }

          .title {
            -fx-text-fill: $text-color-white;
            -fx-font-size: 1.2em;
            -fx-font-weight: bold;
          }
        }

        .trailblazers {
          @include fixedWidth(32em);
          -fx-padding: 0.25em;
          -fx-background-color: $background-color-dark;
          -fx-border-color: $border-color-black;

          .title {
            -fx-text-fill: $text-color-white;
            -fx-font-size: 1.2em;
            -fx-font-weight: bold;
          }

          .copyable-location {
            @include copyable-location;
          }
        }
      }
    }

    .bill-of-materials {
      @include hvGap(0.25em);

      .bom-entry {
        @include fixedWidth(32em);
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-black;

        &:search {
          -fx-border-color: $border-color-yellow;

          .name {
            -fx-text-fill: $text-color-yellow;
          }
        }

        &:available {
          -fx-border-color: $border-color-yellow;
        }

        &:completed {
          .bom-entry-content {

            .amount-delivered {
              -fx-text-fill: $text-color-green;
            }

            .title-amount-delivered {
              -fx-text-fill: $text-color-green;
            }

          }

          .bom-entry-progressbar {

            .present {
              -fx-background-color: $progress-bar-color-green;
            }
          }
        }

        &:ship {
          .bom-entry-content {
            .amount-ship {
              -fx-text-fill: $text-color-yellow;
            }
          }
        }

        &:fleetcarrier {
          .bom-entry-content {
            .amount-fleetcarrier {
              -fx-text-fill: $text-color-blue;
            }
          }
        }

        &:squadroncarrier {
          .bom-entry-content {
            .amount-squadroncarrier {
              -fx-text-fill: $text-color-orange;
            }
          }
        }

        .bom-entry-content {

          -fx-padding: 0.25em;
          -fx-spacing: 0.25em;

          .values {
            -fx-hgap: 0.5em;
            -fx-spacing: 0.5em;
            @include fixedWidth(31.6em);
          }

          .values2 {
            -fx-hgap: 0.5em;
            -fx-spacing: 0.5em;
            @include fixedWidth(31.35em);
          }

          .amount, .amount-market {
            -fx-font-weight: bold;
          }

          .amount-delivered {
            -fx-font-weight: bold;
            -fx-text-fill: $text-color-red;
          }

          .amount-ship {
            -fx-font-weight: bold;
          }

          .amount-fleetcarrier {
            -fx-font-weight: bold;
          }

          .amount-squadroncarrier {
            -fx-font-weight: bold;
          }

          .title-amount-delivered {
            -fx-text-fill: $text-color-red;
          }

          .values-sub-1 {
            -fx-hgap: 0.5em;
            -fx-spacing: 0.5em;
            @include fixedWidth(15.4em);
          }

          .values-sub-2 {
            -fx-hgap: 0.5em;
            -fx-spacing: 0.5em;
            @include fixedWidth(15.4em);
          }

          .values-market {
            -fx-hgap: 0.2em;
            -fx-spacing: 0.2em;
          }

          .name {
            @include fixedWidth(30em);
            -fx-alignment: center-left;
            -fx-min-height: 1.25em;
          }

          .category {
            @include fixedWidth(30em);
            -fx-alignment: center-left;
            -fx-min-height: 1.25em;
            -fx-text-fill: $text-color-grey;
          }

          .name-category {
            -fx-spacing: 0.25em;
            @include fixedWidth(30em);
          }

          .amount-left {
            -fx-min-height: 2em;
            -fx-alignment: center-left;
            -fx-text-alignment: left;
          }

          .amount-sum {
            @include fixedWidth(5.5em);
            -fx-min-height: 2em;
            -fx-alignment: center-left;
            -fx-text-alignment: left;
          }

          .amount-right {
            -fx-min-height: 2em;
            -fx-alignment: center-right;
            -fx-text-alignment: right;
          }

          .material-image {
            @include fixedWidth(2.5em);
            @include fixedHeight(2.5em);
            -fx-fit-to-height: true;
            -fx-fit-to-width: true;
            @include commodities;
            .glyph-icon {
              -fx-font-size: 2.5em !important;
            }
          }

          .icon {
            @include fixedWidth(2em);
            @include fixedHeight(2em);
            @include awesome-icons;
            .glyph-icon{
              -fx-font-size: 2em !important;
            }
          }
        }

        .bom-entry-progressbar {
          @include segmented-bar-straight;
          @include fixedHeight(0.5em);

          .present {
            -fx-background-color: $progress-bar-color-red;
          }

          .present-ship {
            -fx-background-color: $progress-bar-color-yellow;
          }

          .present-fleet-carrier {
            -fx-background-color: $progress-bar-color-blue;
          }

          .present-squadron-carrier {
            -fx-background-color: $progress-bar-color-orange;
          }

          .not-present {
            -fx-background-color: $progress-bar-color-grey;
          }
        }
      }
    }
  }

}