.permit-tab {
  @include tab;
}

.permit-tab-content {


  @include scroll-pane-content;

  .permit-flow {
    @include hvGap(0.25em);


    .permit-card {
      -fx-spacing: 0.25em;
      -fx-padding: 0.25em;
      @include fixedWidth(33em);
      -fx-background-color: $background-color-dark;

      &:obtained {
        .permit-content {
          .permit-image {
            .glyph-icon {
              -fx-fill: $text-color-green;

              &:hover {
                -fx-fill: $text-color-blue;
              }
            }
          }
        }
      }

      .permit-content {
        -fx-spacing: 0.25em;

        .permit-image {
          -fx-cursor: hand;

          @include fixedWidth(4em);
          @include fixedHeight(3.3em);

          .glyph-icon {
            -fx-fill: $text-color-dark-red;
            -fx-font-size: 3.5em !important;

            &:hover {
              -fx-fill: $text-color-blue;
            }
          }
        }

        .permit-labels {
          -fx-spacing: 0.25em;

          .permit-title {
            @include fixedWidth(27em);
            -fx-font-size: 1.2em;
            -fx-font-weight: bold;
          }

          .permit-description {
            -fx-text-fill: $text-color-grey;
            @include fixedWidth(27em);
            -fx-wrap-text: true;
            //-fx-padding: 0.25em;
          }

          .permit-allegiance {
          }

        }

      }

      .locations {
        @include hvGap(0.25em);
        //-fx-background-color: #123123;
        .copyable-location {
          -fx-min-width: 16em;
          -fx-pref-width: 16em;
          //-fx-pref-height: 1.25em;
          @include copyable-location;
          //-fx-background-color: #321321;
        }
      }
      .permit-location-title{

      }
      .permit-location {
        //-fx-padding: 0.25em;
        @include copyable-location;
        //@include fixedHeight(1.2em);
      }
    }
  }
}
