.shipbuilder-tab {
  @include tab;
}

.shipbuilder-tab-content {
  @include scroll-pane-content;

  .contents {
    -fx-spacing: 0.25em;

    .ship-select-view {
      .header {
        -fx-background-color: $background-color-dark;
        //-fx-padding: 0.5em 0.2em 0em 0.2em;
        //-fx-max-height: 8em;
        -fx-alignment: bottom-left;

        .cell {
          -fx-text-alignment: right;
          -fx-alignment: center-right;
          -fx-border-color: $border-color-grey;
          -fx-border-width: 0em 0.1em 0em 0em;
          -fx-min-height: 2em;
          -fx-padding: 0em 0.2em 0em 0.2em;
          //-fx-background-insets: 0em 0em 0em 0em;

          &:hover {
            -fx-background-color: lighten($background-color-dark, 10%);
            -fx-cursor: hand;
          }
        }

      }

      .row {
        -fx-background-color: $background-color-medium;
        /*-fx-background-insets: 0em 0.2em 0em 0.2em;*/
        //-fx-padding: 0em 0em 0em 0.2em;

        &:hover {
          -fx-background-color: $background-color-black;
          -fx-cursor: hand;
        }

        .cell {
          -fx-text-alignment: right;
          -fx-alignment: center-right;
          -fx-border-color: $background-color-light;
          -fx-border-width: 0em 0.1em 0em 0em;
          -fx-min-height: 2em;
          -fx-padding: 0em 0.2em 0em 0.2em;
          //-fx-background-insets: 0em 0em 0em 0em;
        }
      }

      .col-ship-name {
        @include fixedWidth(11em);
        -fx-alignment: center-left !important;
        -fx-text-alignment: left !important;
        -fx-border-width: 0em 0.1em 0em 0.1em !important;
        //-fx-border-insets: 0em;
      }

      .col-price {
        @include fixedWidth(6em);
      }

      .col-size {
        @include fixedWidth(3em);
      }

      .col-fighterbay {
        @include fixedWidth(5.5em);
      }

      .col-crew {
        @include fixedWidth(3em);
      }

      .col-masslock {
        @include fixedWidth(5.5em);
      }

      .col-mass {
        @include fixedWidth(3em);
      }

      .col-jumprange {
        @include fixedWidth(6em);
      }

      .col-speed {
        @include fixedWidth(4em);
      }

      .col-boost {
        @include fixedWidth(4em);
      }

      .col-boostinterval {
        @include fixedWidth(7em);
      }

      .col-shield {
        @include fixedWidth(4em);
      }

      .col-armor {
        @include fixedWidth(4em);
      }

      .col-hardness {
        @include fixedWidth(5em);
      }

      .col-fuel {
        @include fixedWidth(3em);
      }

      .col-cargo {
        @include fixedWidth(4em);
      }

      .col-passenger {
        @include fixedWidth(8em);
      }

      .col-slot-hardpoints {
        @include fixedWidth(10em);
      }

      .col-slot-utility {
        @include fixedWidth(5em);
      }

      .col-slot-armour {
        @include fixedWidth(2.5em);
      }

      .col-slot-powerplant {
        @include fixedWidth(2.5em);
      }

      .col-slot-thrusters {
        @include fixedWidth(2.5em);
      }

      .col-slot-frameshiftdrive {
        @include fixedWidth(2.5em);
      }

      .col-slot-lifesupport {
        @include fixedWidth(2.5em);
      }

      .col-slot-powerdistribution {
        @include fixedWidth(2.5em);
      }

      .col-slot-sensors {
        @include fixedWidth(2.5em);
      }

      .col-slot-fueltank {
        @include fixedWidth(2.5em);
      }

      .col-slot-optional {
        @include fixedWidth(13em);
      }
    }


    .ships-menu {
      -fx-spacing: 0.25em;

      .ships-wishlist-create-new {
        -fx-font-style: italic;
      }

      .ship-select {
        @include fixedWidth(35em);
      }

      .ships-newname {
        -fx-min-width: 20em;
        -fx-border-color: $border-color-black;
      }

      .help-image {
        @include fixedHeight(2em);
        @include fixedWidth(2em);
        -fx-cursor: hand;
      }

      @at-root {
        .horizons-shipbuilder-help-popover {
          @include popover-style;

          .help-popover {
            .hint-line {
              -fx-spacing: 0.5em;
            }

            .hint-color {
              -fx-text-fill: $text-color-yellow;
              -fx-font-style: italic;
              -fx-min-width: 10em;
            }

            .ship-text {
              -fx-text-fill: $text-color-white;
              -fx-font-style: italic;
              -fx-max-width: 35em;
              -fx-wrap-text: true;
            }

          }
        }
      }
    }

    //statsSection class
    .stats-section {
      @include hvGap(0.25em);

      .selectors {
        @include fixedHeight(24.75em);
        -fx-min-width: 10em;
        //
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-white;

        .stat-select {
          -fx-background-color: $background-color-dark;
          -fx-border-color: $border-color-white;
          -fx-border-width: 1px 0 0 0;
          -fx-max-height: infinity;
          -fx-max-width: infinity;
          -fx-alignment: center;

          &:hover {
            -fx-background-color: $background-color-light;
          }

          &:selected {
            -fx-text-fill: $text-color-blue;
          }

          &:first {
            -fx-border-width: 0;

          }
        }

      }

      .config {
        @include fixedHeight(24.75em);
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-white;
        -fx-border-width: 1px 0 1px 1px;

        .weapon-group-title {
          //-fx-background-color: #3e0255;
        }

        .config-controls {
          -fx-padding: 0.25em;
          -fx-spacing: 0.25em;

          .control-line {
            -fx-spacing: 1em;
          }
        }

        //.intfield {
        //  -fx-max-width: 7em;
        //}

        .min-max-int-field {
          -fx-max-width: 6.9em;

          .intfield {
            @include fixedWidth(3.9em);
            @include fixedHeight(2em);
          }

          .button {
            @include fixedWidth(1.5em);
            @include fixedHeight(2em);
            -fx-padding: 0.25em 0 0.25em 0;
          }
        }

        .fuelreserve {
          -fx-max-width: 7em;
        }

        .pipselect {
          -fx-spacing: 0.25em;
          -fx-padding: 0.25em 0em 0em 0;

          .pipselect-rectangle {
            -fx-fill: $background-color-lighter;
            -fx-padding: 0 0 0 0.2em;
            -fx-cursor: hand;


            &:half {
              -fx-fill: $background-color-blue;
              -fx-opacity: 0.5;
            }

            &:full {
              -fx-fill: $background-color-blue;
              -fx-opacity: 1.0;
            }

          }

          &:disabled {
            -fx-opacity: 0.5;

            .pipselect-rectangle {
              &:half {
                -fx-opacity: 0.25;
              }
            }

            .pipselect-rectangle {
              &:full {
                -fx-opacity: 0.5;
              }
            }
          }

        }

        .slider {
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.slider.SliderSkin";
        }

        .slider-popup {
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.slider.SliderPopupSkin";

          .label {
            -fx-background-color: $background-color-dark;
            -fx-text-fill: $text-color-white;

          }
        }

        .power-control {
          -fx-spacing: 0em;

          &:configurable {
            -fx-spacing: 0.25em;

            .power-icon-and-label {
              -fx-cursor: hand;

              &:hover {
                .control-text {
                  -fx-text-fill: lighten($text-color-red, 10%);
                }

                .icon-container {
                  .icon {
                    -fx-fill: lighten($text-color-red, 10%);
                  }
                }

                &:powered {
                  .control-text {
                    -fx-text-fill: lighten($text-color-green, 10%);
                  }

                  .icon-container {
                    .icon {
                      -fx-fill: lighten($text-color-green, 10%);
                    }
                  }
                }
              }

              &:pressed {
                .control-text {
                  -fx-text-fill: $text-color-blue !important;
                }

                .icon-container {
                  .icon {
                    -fx-fill: $text-color-blue !important;
                  }
                }
              }
            }
          }

          //@include fixedWidth(3.5em);

          .power-icon-and-label {
            //-fx-spacing: -0.1em;

            .icon-container {
              //@include fixedWidth(1em);
              @include fixedHeight(2em);
              -fx-padding: 0.25em 0 0 0em;

              .icon {
                //@include fixedWidth(1em);
                @include fixedHeight(1em);
                -fx-fill: $text-color-red;
                -fx-font-size: 1em;
              }
            }

            .control-text {
              -fx-text-fill: $text-color-red;
              //@include fixedWidth(1em);
              @include fixedHeight(2em);
              -fx-padding: 0.2em 0 0 0.1em;
              //-fx-padding: 0 0 0 -0.1em;
              -fx-alignment: center;
            }


            &:powered {
              .control-text {
                -fx-text-fill: $text-color-green;
              }

              .icon-container {
                .icon {
                  -fx-fill: $text-color-green;
                }
              }
            }
          }

          .icon-container {
            @include fixedHeight(2em);

            .control-button {
              -fx-cursor: hand;
              -fx-font-size: 1.5em;
              -fx-alignment: center;

              -fx-fill: $text-color-white;

              &:hover {
                -fx-fill: $text-color-blue;
              }
            }
          }
        }

        .toggles {
          -fx-spacing: 0.1em;
          -fx-max-width: Infinity;

          .group-toggle {
            //-fx-min-width: 3.70em;
            -fx-max-width: Infinity;
          }
        }
      }

      .ship-stats {
        .stat-line {
          -fx-spacing: 0.25em;
        }
      }

      .validation {
        .error {
          -fx-text-fill: $text-color-red;
        }

        .warning {
          -fx-text-fill: $text-color-yellow;
        }
      }

      .stats {
        -fx-min-height: 22.6em;
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-white;
        -fx-border-width: 1px 1px 1px 1px;
        -fx-padding: 0.25em;
        -fx-min-width: 15.8em;


        .title {
          -fx-padding: 0.25em;
          -fx-font-size: 1.2em;
          -fx-font-weight: bold;
        }

        .key-small {
          -fx-padding: 0.5em 0 0 0;
        }

        .value-small {
          -fx-font-weight: bold;
          //-fx-label-padding: 0.3em 0em 0.2em 0;
        }

        .key {
          @include fixedHeight(2em);
          -fx-text-alignment: center;
          //-fx-label-padding: 0.5em 1em 0.5em 0;
        }

        .value {
          @include fixedHeight(2em);
          -fx-text-alignment: center;
          -fx-font-weight: bold;
          //-fx-label-padding: 0.5em 0em 0.5em 0;
        }


        .splitter .line {
          -fx-border-color: $border-color-white;
          -fx-border-width: 0.05em;
          -fx-border-insets: 0.0em -0.25em 0.0em -0.25em;
        }

      }

      .power-thermal-stats {

        .percentage-line {
          -fx-min-height: 2em;
          -fx-pref-height: 2em;
          -fx-max-height: 2em;
          -fx-max-width: 15em;
          -fx-stroke: $border-color-white;
          -fx-stroke-width: 0.1em;
        }

        .thermal-line {
          -fx-spacing: 1em;
        }

        -fx-min-width: 15em;

        .power-progressbar {

          @include segmented-bar-straight;

          .bar-container {
          }

          //-fx-fill-width: true;
          //-fx-fit-to-width: true;
          -fx-min-height: 1em;
          -fx-pref-height: 2em;
          -fx-max-height: 2em;
          -fx-padding: 0.1em 0em 0.1em 0em;
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.segmentbar.PowerSegmentedBarSkin";


          .power-group-p {
            -fx-background-color: $progress-bar-color-power-passive;
          }

          .power-group-1 {
            -fx-background-color: $progress-bar-color-power-1;
          }

          .power-group-2 {
            -fx-background-color: $progress-bar-color-power-2;
          }

          .power-group-3 {
            -fx-background-color: $progress-bar-color-power-3;
          }

          .power-group-4 {
            -fx-background-color: $progress-bar-color-power-4;
          }

          .power-group-5 {
            -fx-background-color: $progress-bar-color-power-5;
          }

          .power-group-none {
            -fx-background-color: $progress-bar-color-power-none;
          }

          .power-overpower {
            -fx-background-color: $progress-bar-color-power-overpower;
          }

          .power-potential-overpower {
            -fx-background-color: $progress-bar-color-power-overpower;
            -fx-opacity: 0.2;
          }
        }

        .power-stats-powerbars {
          -fx-min-height: 4.2em;
          -fx-pref-height: 4.2em;
          -fx-max-height: 4.2em;
          /*-fx-spacing: 0.2em;*/
        }

        .power-stats-overpower {
          -fx-text-fill: $text-color-red;
        }

        .tooltip-text {
          -fx-background-color: $background-color-dark;
          -fx-border-color: $border-color-white;
          -fx-text-fill: $text-color-white;
          -fx-border-width: 1px;
          -fx-padding: 0.25em;
        }

        .power-legend {
          -fx-alignment: center-left;
          -fx-spacing: 0.5em;


          .power-group-p {
            -fx-fill: $progress-bar-color-power-passive;
          }

          .power-group-1 {
            -fx-fill: $progress-bar-color-power-1;
          }

          .power-group-2 {
            -fx-fill: $progress-bar-color-power-2;
          }

          .power-group-3 {
            -fx-fill: $progress-bar-color-power-3;
          }

          .power-group-4 {
            -fx-fill: $progress-bar-color-power-4;
          }

          .power-group-5 {
            -fx-fill: $progress-bar-color-power-5;
          }
        }
      }

      .jump-stats {
        .ranges {
          -fx-spacing: 0.25em;
        }

        .hoverable-line-chart {
          .default-color0.chart-series-line {
            -fx-stroke: $border-color-red;
          }

          .default-color1.chart-series-line {
            -fx-stroke: $border-color-yellow;
          }

          .default-color2.chart-series-line {
            -fx-stroke: $border-color-blue;
            //-fx-opacity: 0.2;
          }

          @include fixedWidth(30em);
          //@include fixedHeight(15em);

          .chart-plot-background {
            -fx-background-color: transparent;
          }
        }
      }

      .handling-stats {
        .ranges {
          -fx-spacing: 0.25em;
        }

        .hoverable-line-chart {
          @include fixedWidth(30em);
          //@include fixedHeight(15em);
          .default-color0.chart-series-line {
            -fx-stroke: $border-color-light-grey;
            -fx-opacity: 0.2;
          }

          .default-color1.chart-series-line {
            -fx-stroke: $border-color-light-grey;
            -fx-opacity: 0.2;
          }

          .default-color2.chart-series-line {
            -fx-stroke: $border-color-blue;
            //-fx-opacity: 0.2;
          }

          .chart-plot-background {
            -fx-background-color: transparent;
          }
        }

        .handling-buttons {
          @include fixedHeight(3.00em);
          @include fixedWidth(30.00em);
          //-fx-min-width: 10em;
          //
          -fx-background-color: $background-color-dark;
          //-fx-border-color: $border-color-white;

          .handling-button {
            -fx-background-color: $background-color-dark;
            -fx-border-color: $border-color-white;
            -fx-border-width: 0 0 0 1px;
            -fx-max-height: infinity;
            -fx-max-width: infinity;
            -fx-alignment: center;

            &:hover {
              -fx-background-color: $background-color-light;
            }

            &:selected {
              -fx-text-fill: $text-color-blue;
            }

            &:first {
              -fx-border-width: 0;

            }
          }

        }

        .max-values {
          @include fixedHeight(2.00em);
          @include fixedWidth(30.00em);

          .max-value {

            -fx-max-height: infinity;
            -fx-max-width: infinity;
            -fx-alignment: center;
            -fx-text-fill: $text-color-blue;
          }

        }
      }

      .weapon-stats {
        .weapon-progressbar {

          @include segmented-bar-straight;
          -fx-min-width: 15em;
          -fx-max-width: 15em;
          -fx-min-height: 1em;
          -fx-pref-height: 2em;
          -fx-max-height: 2em;
          -fx-padding: 0.1em 0em 0.1em 0em;
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.segmentbar.PowerSegmentedBarSkin";

          .hardpoint-thermal {
            -fx-background-color: $progress-bar-color-hardpoint-thermal;
          }

          .hardpoint-kinetic {
            -fx-background-color: $progress-bar-color-hardpoint-kinetic;
          }

          .hardpoint-explosive {
            -fx-background-color: $progress-bar-color-hardpoint-explosive;
          }

          .hardpoint-absolute {
            -fx-background-color: $progress-bar-color-hardpoint-absolute;
          }

          .hardpoint-caustic {
            -fx-background-color: $progress-bar-color-hardpoint-caustic;
          }

          .hardpoint-antixeno {
            -fx-background-color: $progress-bar-color-hardpoint-antixeno;
          }

          .hardpoint-none {
            -fx-background-color: $progress-bar-color-hardpoint-none;
          }
        }

        .weapon-progressbar-popover {
          -fx-background-color: black;
          -fx-border-width: 1px;
          -fx-border-color: $border-color-white;
        }


        .tooltip-text {
          -fx-background-color: $background-color-dark;
          -fx-border-color: $border-color-white;
          -fx-text-fill: $text-color-white;
          -fx-border-width: 1px;
          -fx-padding: 0.25em;
        }

        .legend-box {
          -fx-min-width: 15em;
          -fx-max-width: 15em;

          .legend-text {
            -fx-alignment: baseline-center;
            -fx-padding: 0em;
          }

          .hardpoint-thermal {
            -fx-fill: $progress-bar-color-hardpoint-thermal;
          }

          .hardpoint-kinetic {
            -fx-fill: $progress-bar-color-hardpoint-kinetic;
          }

          .hardpoint-explosive {
            -fx-fill: $progress-bar-color-hardpoint-explosive;
          }

          .hardpoint-absolute {
            -fx-fill: $progress-bar-color-hardpoint-absolute;
          }

          .hardpoint-caustic {
            -fx-fill: $progress-bar-color-hardpoint-caustic;
          }

          .hardpoint-antixeno {
            -fx-fill: $progress-bar-color-hardpoint-antixeno;
          }

          .hardpoint-none {
            -fx-fill: $progress-bar-color-hardpoint-none;
          }

        }
      }

      .shield-stats, .armour-stats {
        .shield-image {
          -fx-min-width: 5em;
          -fx-max-width: 5em;
          -fx-min-height: 6.199em;
          -fx-max-height: 6.199em;
        }

        .shield-component-red {
          -fx-min-width: 15em;
          -fx-max-width: 15em;
          -fx-min-height: 9.6em;
          -fx-max-height: 9.6em;
          -fx-padding: 0.6em 0em 0em 0em;
        }

        .shield-component-blue {
          -fx-min-width: 15em;
          -fx-max-width: 15em;
          -fx-min-height: 6.6em;
          -fx-max-height: 6.6em;
          -fx-padding: 0.6em 0em 0em 0em;
        }

        .shield-label-blue {
          -fx-text-fill: $text-color-blue;
          -fx-font-weight: bold;
        }

        .shield-label-red {
          -fx-text-fill: $text-color-red;
          -fx-font-weight: bold;
        }

        .shield-label-symbol {
          -fx-padding: 0.2em 0 0 0;
          -fx-font-size: 2.5em;
          -fx-font-weight: bolder;
        }

        .shield-label-title {
          -fx-padding: 0 0 0.5em 0;
        }

        .shield-value, .armour-value {
          -fx-font-weight: bold;
        }
      }

      .range-indicator {
        -fx-min-height: 3em;
        @include fixedWidth(15em);

        &:optimal {
          .line-current {
            -fx-stroke: $text-color-green;
          }

          .current {
            -fx-text-fill: $text-color-green;
          }
        }

        .values {
          @include fixedWidth(15em);
        }

        .current {
          -fx-text-fill: $text-color-blue;
        }

        .line {
          -fx-min-height: 1em;
          @include fixedWidth(15em);
          -fx-stroke: white;
          -fx-stroke-width: 0.1em;
        }

        .line-current {
          -fx-min-height: 1em;
          -fx-stroke: $text-color-blue;
          -fx-stroke-width: 0.2em;
        }
      }
    }

    .modules-section {

      -fx-fit-to-width: true;
      -fx-vgap: 0.5em;
      -fx-hgap: 0.25em;

      .slots-column {
        -fx-spacing: 0.25em;

        .slot-box {
          .slot-content {
            @include fixedWidth(27em);
            //@include fixedHeight(6em);
            -fx-min-height: 4.6em;
            //-fx-max-height: 6em;
            -fx-background-color: $background-color-dark;
            -fx-spacing: 0.2em;

            -fx-border-color: white;

            &:military {
              -fx-background-color: linear-gradient(from 0px 0px to 10px 10px, repeat, $background-color-dark 0%, $background-color-medium 25%, $background-color-dark 50%, $background-color-medium 75%, $background-color-dark 100%);
            }

            &:cargo {
              -fx-background-color: linear-gradient(from 0px 10px to 10px 0px, repeat, $background-color-dark 0%, $background-color-medium 25%, $background-color-dark 50%, $background-color-medium 75%, $background-color-dark 100%);
            }

            &:hover {
              -fx-border-color: $border-color-blue;
            }

            &:good {
              -fx-border-color: $border-color-green;
            }

            &:bad {
              -fx-border-color: $border-color-red;
            }

            .slot-info {
              -fx-padding: 0 0 0.2em 0.2em;

              .tag {
                -fx-min-width: 1.4em;
                -fx-max-width: 1.4em;
                -fx-min-height: 1.5em;
                -fx-max-height: 1.5em;
                -fx-text-fill: $text-color-blue;
                -fx-font-weight: bold;
                -fx-text-alignment: center;
                -fx-alignment: center;
              }

              .slot-size {
                -fx-min-width: 1.4em;
                -fx-max-width: 1.4em;
                -fx-min-height: 1.5em;
                -fx-max-height: 1.5em;
                -fx-text-alignment: center;
                -fx-alignment: center;
              }

              .changed-icon {
                -fx-font-size: 1.2em;
                -fx-fill: $text-color-blue;
              }
            }

            .splitter .line {
              -fx-border-color: $border-color-white;
              -fx-border-width: 0.05em;
              -fx-border-insets: 0.0em 0 0.0em 0;
            }

            .module-data {
              -fx-min-width: 19.3em;
              -fx-padding: 0.2em 0em 0.2em 0.2em;

              .module-icons {
                -fx-min-height: 1.4em;
                -fx-max-height: 1.4em;
                -fx-max-width: 20em;

                &:same {
                  .module-icon {
                    .ships-synthesis-basic {
                      -fx-fill: $text-color-yellow;
                    }

                    .ships-synthesis-standard {
                      -fx-fill: $text-color-yellow;
                    }

                    .ships-synthesis-premium {
                      -fx-fill: $text-color-yellow;
                    }
                  }
                }

                .module-icon {
                  @include fixedWidth(1.5em);
                  @include fixedHeight(1.5em);
                  -fx-padding: 0em 0.2em 0em 0em;

                  @include awesome-icons;

                }

                .module-icon-wide {
                  @include fixedWidth(2.7em);
                  -fx-max-height: 1.5em;
                  -fx-padding: 0em 0.2em 0em 0em;

                  @include awesome-icons;
                }
              }

              .name {
                -fx-max-width: 20em;

                &:changed {
                  -fx-text-fill: $text-color-blue;
                }
              }

              .blueprints-flow {
                -fx-max-width: 20em;

                .blueprint {
                  -fx-font-style: italic;
                  -fx-text-fill: $text-color-blue;
                  -fx-max-width: 19.5em;
                  -fx-wrap-text: true;
                  -fx-max-height: 1em;

                  &:same {
                    -fx-text-fill: $text-color-yellow;
                  }
                }

                .separator-comma {
                  -fx-font-style: italic;
                  -fx-text-fill: $text-color-blue;

                  &:same {
                    -fx-text-fill: $text-color-yellow;
                  }
                }

                .effect {
                  -fx-font-style: italic;
                  -fx-text-fill: $text-color-blue;

                  &:same {
                    -fx-text-fill: $text-color-yellow;

                  }

                  &:missing-blueprints > .text {
                    -fx-strikethrough: true;
                  }
                }
              }
            }

            .empty {
              @include fixedHeight(1.27em);
              -fx-min-width: 6.77em;
              -fx-max-width: 6.77em;
              -fx-font-size: 3.5em;
              -fx-text-fill: $text-color-grey;
            }

            .size-control {
              .control-text {
                @include fixedWidth(1em);
                @include fixedHeight(1.5em);
                -fx-alignment: center;
              }

              .control-button {
                @include fixedWidth(2em);
                -fx-cursor: hand;
                -fx-font-size: 1.5em;

                -fx-fill: $text-color-white;

                &:hover {
                  -fx-fill: $text-color-blue;
                }
              }
            }

            .class-control {
              .control-text {
                @include fixedWidth(1em);
                @include fixedHeight(1.5em);
                -fx-alignment: center;
              }

              .control-button {
                -fx-padding: 0.25em;
                -fx-cursor: hand;
                -fx-font-size: 1.5em;
                -fx-alignment: center;

                -fx-fill: $text-color-white;

                &:hover {
                  -fx-fill: $text-color-blue;
                }
              }
            }

            .mounting-control {
              .control-text {
                @include fixedWidth(1em);
                @include fixedHeight(1.5em);
                -fx-padding: 0 0 0 -0.1em;
                -fx-alignment: center;
              }

              .icon {
                @include fixedWidth(1.5em);
                @include fixedHeight(1.5em);

                .glyph-icon {
                  -fx-font-size: 1.5em !important;
                }

                .ships-gimballed {
                  -fx-fill: rgb(255, 255, 255);
                }

                .ships-turreted {
                  -fx-fill: rgb(255, 255, 255);
                }

                .ships-fixed {
                  -fx-fill: rgb(255, 255, 255);
                }
              }

              .control-button {
                -fx-cursor: hand;
                -fx-font-size: 1.5em;
                -fx-alignment: center;

                -fx-fill: $text-color-white;

                &:hover {
                  -fx-fill: $text-color-blue;
                }
              }
            }

            .power-control {

              @include fixedWidth(1.5em);

              &:configurable {
                .power-icon-and-label {
                  -fx-spacing: -0.1em;

                  -fx-cursor: hand;

                  &:hover {
                    .control-text {
                      -fx-text-fill: lighten($text-color-red, 10%);
                    }

                    .icon-container {
                      .icon {
                        -fx-fill: lighten($text-color-red, 10%);
                      }
                    }

                    &:powered {
                      .control-text {
                        -fx-text-fill: lighten($text-color-green, 10%);
                      }

                      .icon-container {
                        .icon {
                          -fx-fill: lighten($text-color-green, 10%);
                        }
                      }
                    }
                  }

                  &:pressed {
                    .control-text {
                      -fx-text-fill: $text-color-blue !important;
                    }

                    .icon-container {
                      .icon {
                        -fx-fill: $text-color-blue !important;
                      }
                    }
                  }
                }
              }

              .power-icon-and-label {
                -fx-spacing: -0.1em;

                .icon-container {
                  @include fixedWidth(1em);
                  @include fixedHeight(1.5em);
                  -fx-padding: 0.25em 0 0 0em;

                  .icon {
                    @include fixedWidth(1em);
                    @include fixedHeight(1em);
                    -fx-fill: $text-color-red;
                    -fx-font-size: 1em;
                  }
                }

                .control-text {
                  -fx-text-fill: $text-color-red;
                  @include fixedHeight(1.3em);
                  -fx-padding: 0.2em 0 0 0.1em;
                  -fx-alignment: center;
                }

                &:powered {
                  .control-text {
                    -fx-text-fill: $text-color-green;
                  }

                  .icon-container {
                    .icon {
                      -fx-fill: $text-color-green;
                    }
                  }
                }


              }

              .icon-container {
                @include fixedWidth(1.5em);

                .control-button {
                  -fx-cursor: hand;
                  -fx-font-size: 1.5em;
                  -fx-alignment: center;

                  -fx-fill: $text-color-white;

                  &:hover {
                    -fx-fill: $text-color-blue;
                  }
                }
              }
            }
          }

          .overlay {

            -fx-padding: 0.3em;
            -fx-alignment: top-right;

            .resize-warning {
              -fx-background-color: $background-color-blue;
              -fx-font-weight: bold;
              -fx-padding: 0.4em;
            }
          }
        }
      }

      .column-set {
        -fx-spacing: 0.25em;
      }

      .column-header {
        @include fixedWidth(27em);
        @include fixedHeight(2em);
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-white;
        -fx-alignment: center;
      }

    }

    @at-root {
      .shipbuilder-details-popover {
        @include popover-style;
        -fx-background-insets: 0 !important;
        -fx-border-insets: 0em;
        -fx-padding: 0em;

        & > .border {
          -fx-stroke: $border-color-white !important;
          -fx-stroke-width: 1px !important;
          -fx-fill: $background-color-dark !important;
          -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0) !important;
        }

        .module-details {
          -fx-background-color: $background-color-dark;
          @include fixedWidth(42.1em);
          //-fx-min-width: 42.1em;
          //-fx-max-width: 42.2em;
          -fx-border-color: $border-color-white;
          -fx-border-width: 1px;

          .title {
            -fx-padding: 0.25em;
            -fx-font-size: 1.2em;
            -fx-font-weight: bold;
            -fx-wrap-text: true;
          }

          .legacy-save {
            -fx-cursor: hand;
            -fx-text-fill: $text-color-blue;
            //@include fixedHeight(1.4em);
            -fx-alignment: bottom-right;
            -fx-padding: 0.25em 0.25em 0em 0em;

            &:hover {
              -fx-text-fill: lighten($text-color-blue, 10%);
            }
          }

          .properties {
            @include fixedWidth(42em);
            -fx-border-width: 0.1em 0 0.1em 0;
            -fx-border-color: $border-color-white;

            .property {
              -fx-padding: 0.25em;
              @include fixedWidth(21em);
              -fx-border-width: 0 0.1em 0.1em 0;
              -fx-border-color: $border-color-grey;

              &:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:first-row:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:first-row:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:last-row:left-column {
                -fx-border-width: 0 0.1em 0 0;
              }

              &:last-row:right-column {
                -fx-border-width: 0 0 0 0;
              }


              .name {
                -fx-min-height: 1.45em;
                -fx-alignment: center-left;
              }

              .value {
                -fx-min-height: 1.45em;
                -fx-alignment: center-right;
              }
            }
          }

          .attributes {
            @include fixedWidth(42em);
            -fx-border-width: 0.1em 0 0 0;
            -fx-border-color: $border-color-white;

            .attribute {
              @include fixedWidth(21em);
              -fx-border-width: 0 0.1em 0.1em 0;
              -fx-border-color: $border-color-grey;

              &:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:first-row:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:first-row:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:last-row:left-column {
                -fx-border-width: 0 0.1em 0 0;
              }

              &:last-row:right-column {
                -fx-border-width: 0 0 0 0;
              }

              .texts {
                -fx-padding: 0.25em;
                @include fixedWidth(21em);

                .name {
                  -fx-min-height: 1.45em;
                  -fx-alignment: center-left;
                }

                .value {
                  -fx-padding: 0.1em 0.2em 0.1em 0.2em;
                  -fx-border-radius: 0.5em;
                  -fx-border-color: $border-color-blue;
                  -fx-border-width: 0.1em;
                  -fx-alignment: center-left;

                  &:negative {
                    -fx-text-fill: $text-color-red;
                    -fx-border-color: $border-color-red;
                  }

                  &:positive {
                    -fx-text-fill: $text-color-green;
                    -fx-border-color: $border-color-green;
                  }
                }

                .arrow {
                  -fx-alignment: center-left;
                  -fx-font-size: 1.3em;
                }

              }

              .progress {
                @include segmented-bar-straight();
                @include fixedWidth(20.9em);
                @include fixedHeight(0.2em);

                .present {
                  -fx-background-color: $progress-bar-color-red;

                  &:positive {
                    -fx-background-color: $progress-bar-color-green;
                  }
                }

                .not-present {
                  -fx-background-color: $progress-bar-color-grey;
                }

              }
            }
          }
        }
      }

      .stats-column {
        -fx-border-width: 1px;
        -fx-border-color: $border-color-white;
      }

      .stats-column-left {
        -fx-border-width: 1px 1px 1px 1px;
        -fx-border-color: $border-color-white;
      }

      .stats-column-right {
        -fx-border-width: 1px 1px 1px 0;
        -fx-border-color: $border-color-white;
      }
    }
    @at-root {
      .shipbuilder-ship-view-popover {
        @include popover-style;
        @include fixedWidth(27em);
        @include fixedHeight(15.1875em);
        -fx-background-insets: 0 !important;
        -fx-border-insets: 0em;
        -fx-padding: 0em;

        & > .border {
          -fx-stroke: $border-color-white !important;
          -fx-stroke-width: 0px !important;
          -fx-fill: $background-color-dark !important;
          -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0) !important;
        }

        .ship-view {
          @include fixedWidth(27em);
          @include fixedHeight(15.1875em);

          .ship-view-image {
            -fx-padding: 1em;
            @include fixedWidth(26.5em);
            @include fixedHeight(14.9063em);
          }

          .target {
            -fx-stroke: $text-color-green;
            -fx-fill: $text-color-green;
            -fx-stroke-width: 0.25em;
          }

          .container {
            @include fixedWidth(27em);
            @include fixedHeight(15.1875em);
            -fx-border-insets: -1px;
            -fx-border-width: 2px;
            -fx-border-color: $border-color-white;

            .viewport {
              -fx-padding: 1em;
              @include fixedWidth(26.5em);
              @include fixedHeight(14.9063em);
            }
          }
        }
      }
    }

    @at-root {
      .shipbuilder-module-select-popover {
        @include fixedWidth(27em);
        -fx-min-height: 25em;
        -fx-max-height: 25em;
        -fx-padding: 0em;
        -fx-background-insets: 0 !important;
        -fx-border-insets: 0em !important;

        & > .border {
          -fx-fill: $border-color-black !important;
          -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0) !important;
        }

        .scroll-pane2 {
          -fx-padding: 0em;
          @include fixedWidth(27em);
          -fx-min-height: 25em;
          -fx-max-height: 25em;

          -fx-fit-to-width: true;
          -fx-fit-to-height: true;

          .scroll-pane-content {
            -fx-padding: 0em !important;
            -fx-spacing: 0em;
          }

          .module-select-content {
            -fx-padding: 0em !important;
            -fx-spacing: 0.25em;
            @include fixedWidth(25.7em);

            .changes {
              .button {
                @include fixedWidth(25.1em);
              }
            }

            .section {
              @include fixedWidth(25.7em);
              -fx-padding: 0.25em;
              -fx-spacing: 0.1em;
              -fx-background-color: $background-color-dark;

              .title {
                @include fixedHeight(2em);
                -fx-alignment: center-left;
                -fx-font-size: 1.05em;
                -fx-background-color: $background-color-dark;
              }


              .blueprint-buttons {
                -fx-spacing: 0.1em;
                @include fixedWidth(25.1em);

                .blueprint-button {
                  @include fixedWidth(25.1em);
                }
              }

              .progression {
                @include fixedWidth(25.1em);
                -fx-spacing: 0.125em;

                .grade-button {
                }

                .slider {
                  -show-value-on-interaction: false;
                }
              }

              .hardpoint-buttons {
                @include fixedWidth(25.1em);
                -fx-spacing: 0.1em;

                .hardpoint-button {
                  @include fixedWidth(6.2em);
                }
              }

              .module-buttons {
                @include fixedWidth(25.1em);
                -fx-font-size: 1em;
                -fx-spacing: 0.1em;

                .module-button {
                  -fx-pref-height: 2.1em;

                  &:overload {
                    -fx-border-color: $border-color-red;
                  }

                  .image-box {
                    .module-image {
                      @include fixedWidth(1.5em);
                      @include fixedHeight(1.5em);
                      -fx-padding: 0em 0.2em 0em 0em;

                      @include awesome-icons;
                    }
                    .module-image-wide {
                      @include fixedWidth(2.7em);
                      @include fixedHeight(1.5em);
                      -fx-padding: 0em 0.2em 0em 0em;

                      @include awesome-icons;
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}