.shipbuilder-tab {
  @include tab;
}

.shipbuilder-tab-content {
  @include scroll-pane-content;

  .contents {
    -fx-spacing: 0.25em;

    .ship-select-view {
      .header {
        -fx-background-color: $background-color-dark;
        //-fx-padding: 0.5em 0.2em 0em 0.2em;
        //-fx-max-height: 8em;
        -fx-alignment: bottom-left;

        .cell {
          -fx-text-alignment: right;
          -fx-alignment: center-right;
          -fx-border-color: #3f3f3f;
          -fx-border-width: 0em 0.1em 0em 0em;
          -fx-min-height: 2em;
          -fx-padding: 0em 0.2em 0em 0.2em;
          //-fx-background-insets: 0em 0em 0em 0em;

          &:hover {
            -fx-background-color: #3f3f3f;
            -fx-cursor: hand;
          }
        }

      }

      .row {
        -fx-background-color: #1f1f1f;
        /*-fx-background-insets: 0em 0.2em 0em 0.2em;*/
        //-fx-padding: 0em 0em 0em 0.2em;

        &:hover {
          -fx-background-color: $background-color-black;
          -fx-cursor: hand;
        }

        .cell {
          -fx-text-alignment: right;
          -fx-alignment: center-right;
          -fx-border-color: #3f3f3f;
          -fx-border-width: 0em 0.1em 0em 0em;
          -fx-min-height: 2em;
          -fx-padding: 0em 0.2em 0em 0.2em;
          //-fx-background-insets: 0em 0em 0em 0em;
        }
      }

      .col-ship-name {
        @include fixedWidth(11em);
        -fx-alignment: center-left !important;
        -fx-text-alignment: left !important;
        -fx-border-width: 0em 0.1em 0em 0.1em !important;
        //-fx-border-insets: 0em;
      }

      .col-price {
        @include fixedWidth(6em);
      }

      .col-size {
        @include fixedWidth(3em);
      }

      .col-fighterbay {
        @include fixedWidth(5.5em);
      }

      .col-crew {
        @include fixedWidth(3em);
      }

      .col-masslock {
        @include fixedWidth(5.5em);
      }

      .col-mass {
        @include fixedWidth(3em);
      }

      .col-jumprange {
        @include fixedWidth(6em);
      }

      .col-speed {
        @include fixedWidth(4em);
      }

      .col-boost {
        @include fixedWidth(4em);
      }

      .col-boostinterval {
        @include fixedWidth(7em);
      }

      .col-shield {
        @include fixedWidth(4em);
      }

      .col-armor {
        @include fixedWidth(4em);
      }

      .col-hardness {
        @include fixedWidth(5em);
      }

      .col-fuel {
        @include fixedWidth(3em);
      }

      .col-cargo {
        @include fixedWidth(4em);
      }

      .col-passenger {
        @include fixedWidth(8em);
      }

      .col-slot-hardpoints {
        @include fixedWidth(10em);
      }

      .col-slot-utility {
        @include fixedWidth(5em);
      }

      .col-slot-armour {
        @include fixedWidth(2.5em);
      }

      .col-slot-powerplant {
        @include fixedWidth(2.5em);
      }

      .col-slot-thrusters {
        @include fixedWidth(2.5em);
      }

      .col-slot-frameshiftdrive {
        @include fixedWidth(2.5em);
      }

      .col-slot-lifesupport {
        @include fixedWidth(2.5em);
      }

      .col-slot-powerdistribution {
        @include fixedWidth(2.5em);
      }

      .col-slot-sensors {
        @include fixedWidth(2.5em);
      }

      .col-slot-fueltank {
        @include fixedWidth(2.5em);
      }

      .col-slot-optional {
        @include fixedWidth(13em);
      }
    }


    .ships-menu {
      -fx-spacing: 0.25em;

      .ships-wishlist-create-new {
        -fx-font-style: italic;
      }

      .ship-select {
        @include fixedWidth(35em);
      }

      .ships-newname {
        -fx-min-width: 20em;
        -fx-border-color: $border-color-black;
      }

      .help-image {
        @include fixedHeight(2em);
        @include fixedWidth(2em);
        -fx-cursor: hand;
      }

      @at-root {
        .horizons-shipbuilder-help-popover {
          @include popover-style;

          .help-popover {
            .hint-line {
              -fx-spacing: 0.5em;
            }

            .hint-color {
              -fx-text-fill: $text-color-yellow;
              -fx-font-style: italic;
              -fx-min-width: 10em;
            }

            .ship-text {
              -fx-text-fill: $text-color-white;
              -fx-font-style: italic;
              -fx-max-width: 35em;
              -fx-wrap-text: true;
            }

          }
        }
      }
    }

    //statsSection class
    .stats {
      -fx-min-height: 22.6em;

      -fx-background-color: $background-color-dark;
      -fx-border-color: $border-color-white;

      .selectors {
        -fx-min-width: 10em;

        .stat-select {
          -fx-background-color: $background-color-dark;
          -fx-border-color: $border-color-white;
          -fx-border-width: 0.1em 0.1em 0em 0.1em;
          -fx-fit-to-width: true;
          -fx-min-width: 10em;

          @include fixedHeight(2.5em);
          -fx-alignment: center;

          &:hover {
            -fx-background-color: $background-color-light;
          }

          &:first {
            -fx-border-width: 0em 0.1em 0em 0.1em;

          }
        }

      }

      .config {
        .shipbuilder-stats-title {
          -fx-padding: 0.25em;
        }

        .splitter .line {
          -fx-border-color: $border-color-white;
          -fx-border-width: 0.05em;
          -fx-border-insets: 0.0em 0 0.0em 0;
        }

        @include fixedWidth(19em);

        .config-controls {
          -fx-padding: 0.25em;
          -fx-spacing: 0.25em;
        }

        .intfield {
          -fx-max-width: 7em;
        }

        .fuelreserve {
          -fx-max-width: 7em;
        }

        .pipselect {
          -fx-spacing: 0.25em;
          -fx-padding: 0.25em 0em 0em 0;

          .pipselect-rectangle {
            -fx-fill: #2b2b2b;
            -fx-padding: 0 0 0 0.2em;
            -fx-cursor: hand;


            &:half {
              -fx-fill: #2e92df;
              -fx-opacity: 0.5;
            }

            &:full {
              -fx-fill: #2e92df;
              -fx-opacity: 1.0;
            }

          }

          &:disabled {
            -fx-opacity: 0.5;

            .pipselect-rectangle {
              &:half {
                -fx-opacity: 0.25;
              }
            }

            .pipselect-rectangle {
              &:full {
                -fx-opacity: 0.5;
              }
            }
          }

        }

        .slider {
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.slider.SliderSkin";
        }

        .slider-popup {
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.slider.SliderPopupSkin";

          .label {
            -fx-background-color: $background-color-dark;
            -fx-text-fill: $text-color-white;

          }
        }

        .power-control {
          -fx-spacing: 0em;

          &:configurable {
            -fx-spacing: 0.25em;

            .power-icon-and-label {
              -fx-cursor: hand;

              &:hover {
                .control-text {
                  -fx-text-fill: lighten($text-color-red, 10%);
                }

                .icon-container {
                  .icon {
                    -fx-fill: lighten($text-color-red, 10%);
                  }
                }

                &:powered {
                  .control-text {
                    -fx-text-fill: lighten($text-color-green, 10%);
                  }

                  .icon-container {
                    .icon {
                      -fx-fill: lighten($text-color-green, 10%);
                    }
                  }
                }
              }

              &:pressed {
                .control-text {
                  -fx-text-fill: $text-color-blue !important;
                }

                .icon-container {
                  .icon {
                    -fx-fill: $text-color-blue !important;
                  }
                }
              }
            }
          }

          //@include fixedWidth(3.5em);

          .power-icon-and-label {
            //-fx-background-color: #80bf0a;
            //-fx-spacing: -0.1em;

            .icon-container {
              //-fx-background-color: #2a003b;
              //@include fixedWidth(1em);
              @include fixedHeight(2em);
              -fx-padding: 0.25em 0 0 0em;

              .icon {
                //@include fixedWidth(1em);
                @include fixedHeight(1em);
                -fx-fill: $text-color-red;
                -fx-font-size: 1em;
              }
            }

            .control-text {
              //-fx-background-color: #2a003b;
              -fx-text-fill: $text-color-red;
              //@include fixedWidth(1em);
              @include fixedHeight(2em);
              -fx-padding: 0.2em 0 0 0.1em;
              //-fx-padding: 0 0 0 -0.1em;
              -fx-alignment: center;
            }


            &:powered {
              .control-text {
                -fx-text-fill: $text-color-green;
              }

              .icon-container {
                .icon {
                  -fx-fill: $text-color-green;
                }
              }
            }

            //&:configurable:hover {
            //  .control-text {
            //    -fx-text-fill: $text-color-blue;
            //  }
            //
            //  .icon-container {
            //    .icon {
            //      -fx-fill: $text-color-blue;
            //    }
            //  }
            //}
          }

          .icon-container {
            //@include fixedWidth(1em);
            @include fixedHeight(2em);
            //-fx-background-color: #2a003b;

            .control-button {
              -fx-cursor: hand;
              -fx-font-size: 1.5em;
              -fx-alignment: center;

              -fx-fill: $text-color-white;

              &:hover {
                -fx-fill: $text-color-blue;
              }
            }
          }
        }
      }

      .shipbuilder-stats {
        //-fx-background-color: #0f0f0f;
        //-fx-padding: 0.25em;
        //-fx-border-color: white;
        //-fx-border-width: 0.1em;
        //-fx-border-insets: 0.1em;
        //-fx-background-insets: 0.1em;
        -fx-min-width: 15.8em;
      }

      .shipbuilder-stats-label-small {
        -fx-label-padding: 0.3em 1em 0.2em 0;
      }

      .shipbuilder-stats-value-small {
        -fx-font-weight: bold;
        -fx-label-padding: 0.3em 0em 0.2em 0;
      }

      .shipbuilder-stats-title {
        -fx-font-size: 1.2em;
        -fx-font-weight: bold;
      }

      //.shipbuilder-stats-label {
      //  -fx-label-padding: 0.5em 1em 0.5em 0;
      //}

      .shipbuilder-stats-value {
        -fx-font-weight: bold;
        -fx-label-padding: 0.5em 0em 0.5em 0;
      }

      .shipbuilder-stats-box {
        /*-fx-min-height: 20em;*/
        /*-fx-max-height: 20em;*/
        /*-fx-background-color: #0f0f0f;*/
        -fx-background-insets: 0em 1.3em 0em 0em;
        -fx-padding: 0em 1.3em 0em 0em;
      }

      .shipbuilder-stats-layer-bg {
        -fx-background-insets: 0em 1.3em 0em 0em;
        -fx-padding: 0em 1.3em 0em 0em;
      }

      .shipbuilder-stats-box-bg {
        -fx-background-color: #0f0f0f;
      }

      .shipbuilder-stats-configuration {
        -fx-min-width: 19em;
        -fx-max-width: 19em;
        -fx-padding: 0.25em;
      }

      .power-stats {
        .power-progressbar {

          @include segmented-bar-straight;
          -fx-min-width: 15em;
          -fx-max-width: 15em;
          -fx-min-height: 1em;
          -fx-pref-height: 2em;
          -fx-max-height: 2em;
          -fx-padding: 0.1em 0em 0.1em 0em;
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.segmentbar.PowerSegmentedBarSkin";
        }

        .power-stats-powerbars {
          -fx-min-height: 4.2em;
          -fx-pref-height: 4.2em;
          -fx-max-height: 4.2em;
          /*-fx-spacing: 0.2em;*/
        }

        .power-progressbar-popover {
          -fx-background-color: black;
          -fx-border-width: 0.12em;
          -fx-border-color: #fff;
        }

        .power-progressbar-label {
          -fx-background-color: black;
          -fx-text-fill: #fff !important;
          /*-fx-font-weight: bold;*/
          /*-fx-font-size: 1.2em;*/
          -fx-padding: 0.2em;
        }

        .power-stats-overpower {
          -fx-text-fill: #ff7c7c;
        }
      }

      .weapon-stats {
        .power-progressbar {

          @include segmented-bar-straight;
          -fx-min-width: 15em;
          -fx-max-width: 15em;
          -fx-min-height: 1em;
          -fx-pref-height: 2em;
          -fx-max-height: 2em;
          -fx-padding: 0.1em 0em 0.1em 0em;
          -fx-skin: "nl.jixxed.eliteodysseymaterials.templates.components.segmentbar.PowerSegmentedBarSkin";
        }

        .power-stats-powerbars {
          -fx-min-height: 4.2em;
          -fx-pref-height: 4.2em;
          -fx-max-height: 4.2em;
          /*-fx-spacing: 0.2em;*/
        }

        .power-progressbar-popover {
          -fx-background-color: black;
          -fx-border-width: 0.12em;
          -fx-border-color: #fff;
        }

        .power-progressbar-label {
          -fx-background-color: black;
          -fx-text-fill: #fff !important;
          /*-fx-font-weight: bold;*/
          /*-fx-font-size: 1.2em;*/
          -fx-padding: 0.2em;
        }
      }

      .shield-image {
        -fx-min-width: 5em;
        -fx-max-width: 5em;
        -fx-min-height: 6.199em;
        -fx-max-height: 6.199em;
      }

      .shield-component-red {
        -fx-min-width: 15em;
        -fx-max-width: 15em;
        -fx-min-height: 9.6em;
        -fx-max-height: 9.6em;
        -fx-padding: 0.6em 0em 0em 0em;
      }

      .shield-component-blue {
        -fx-min-width: 15em;
        -fx-max-width: 15em;
        -fx-min-height: 6.6em;
        -fx-max-height: 6.6em;
        -fx-padding: 0.6em 0em 0em 0em;
      }

      .shield-label-blue {
        -fx-text-fill: #2e92df;
        -fx-font-weight: bold;
      }

      .shield-label-red {
        -fx-text-fill: #ff7c7c;
        -fx-font-weight: bold;
      }

      .shield-label-symbol {
        -fx-label-padding: 0.2em 0em 0em 0em;
        -fx-font-size: 2.5em;
        -fx-font-weight: bolder;
      }

      .shield-label-title {
        -fx-label-padding: 0em 0em 0.5em 0em;
      }


      .toggle-button-stats-hardpoint {
        -fx-min-width: 3.75em;
        -fx-max-width: 3.75em;
      }

      .weapon-stats-legend-label {
        -fx-alignment: baseline-center;
        -fx-padding: 0em;
      }

      .weapon-stats-legend-box {
        -fx-min-width: 15em;
        -fx-max-width: 15em;
      }

      .power-progressbar-line {
        -fx-min-height: 2em;
        -fx-pref-height: 2em;
        -fx-max-height: 2em;
        -fx-max-width: 15em;
        -fx-stroke: white;
        -fx-stroke-width: 0.1em;
      }


      .range-indicator {
        -fx-min-height: 3em;
        -fx-min-width: 15em;
        -fx-max-width: 15em;
      }

      .range-indicator-line {
        -fx-min-height: 1em;
        -fx-min-width: 15em;
        -fx-max-width: 15em;
        -fx-stroke: white;
        -fx-stroke-width: 0.1em;
      }

      .range-indicator-line-current {
        -fx-min-height: 1em;
        -fx-stroke: #2e92df;
        -fx-stroke-width: 0.2em;
      }

      .range-indicator-line-current-green {
        -fx-stroke: #89d07f;
      }

      .range-indicator-current {
        -fx-text-fill: #2e92df;
      }

      .range-indicator-current-green {
        -fx-text-fill: #89d07f;
      }

      .range-indicator-values {
        -fx-min-width: 15em;
        -fx-max-width: 15em;
      }

    }

    .modules {

      -fx-fit-to-width: true;
      -fx-vgap: 0.5em;
      -fx-hgap: 0.25em;

      .slots-column {
        -fx-spacing: 0.25em;

        .slot-box {
          .slot-content {
            @include fixedWidth(27em);
            //@include fixedHeight(6em);
            -fx-min-height: 4.6em;
            //-fx-max-height: 6em;
            -fx-background-color: $background-color-dark;
            -fx-spacing: 0.2em;

            -fx-border-color: white;

            &:military {
              -fx-background-color: linear-gradient(from 0px 0px to 10px 10px, repeat, #0f0f0f 0%, #1f1f1f 25%, #0f0f0f 50%, #1f1f1f 75%, #0f0f0f 100%);
            }

            &:cargo {
              -fx-background-color: linear-gradient(from 0px 10px to 10px 0px, repeat, #0f0f0f 0%, #1f1f1f 25%, #0f0f0f 50%, #1f1f1f 75%, #0f0f0f 100%);
            }

            &:hover {
              -fx-border-color: $border-color-blue;
            }

            &:good {
              -fx-border-color: $border-color-green;
            }

            &:bad {
              -fx-border-color: $border-color-red;
            }

            .slot-info {
              -fx-padding: 0 0 0.2em 0.2em;

              .tag {
                -fx-min-width: 1.4em;
                -fx-max-width: 1.4em;
                -fx-min-height: 1.5em;
                -fx-max-height: 1.5em;
                -fx-text-fill: #2e92df;
                -fx-font-weight: bold;
                /*-fx-background-color: #2e92df;*/
                -fx-text-alignment: center;
                -fx-alignment: center;
              }

              .slot-size {
                //-fx-label-padding: 0.2em;
                -fx-min-width: 1.4em;
                -fx-max-width: 1.4em;
                -fx-min-height: 1.5em;
                -fx-max-height: 1.5em;
                -fx-text-alignment: center;
                -fx-alignment: center;
              }

              .changed-icon {
                -fx-font-size: 1.2em;
                -fx-fill: $text-color-blue;
              }
            }

            .splitter .line {
              -fx-border-color: $border-color-white;
              -fx-border-width: 0.05em;
              -fx-border-insets: 0.0em 0 0.0em 0;
            }

            .module-data {
              -fx-min-width: 19.3em;
              -fx-padding: 0.2em 0em 0.2em 0.2em;

              .module-icons {
                -fx-min-height: 1.4em;
                -fx-max-height: 1.4em;
                -fx-max-width: 20em;

                .module-icon {
                  -fx-max-width: 1.5em;
                  -fx-max-height: 1.5em;
                  -fx-padding: 0em 0.2em 0em 0em;
                }

                .module-icon-wide {
                  -fx-max-width: 1.875em;
                  -fx-max-height: 1.5em;
                  -fx-padding: 0em 0.2em 0em 0em;

                }
              }

              .name {
                -fx-max-width: 20em;

                &:changed {
                  -fx-text-fill: $text-color-blue;
                }
              }

              .blueprints-flow {
                -fx-max-width: 20em;

                .blueprint {
                  -fx-font-style: italic;
                  -fx-text-fill: $text-color-blue;
                  -fx-max-width: 19.5em;
                  -fx-wrap-text: true;
                  -fx-max-height: 1em;

                  &:same {
                    -fx-text-fill: $text-color-yellow;
                  }
                }

                .separator-comma {
                  -fx-font-style: italic;
                  -fx-text-fill: $text-color-blue;

                  &:same {
                    -fx-text-fill: $text-color-yellow;
                  }
                }

                .effect {
                  -fx-font-style: italic;
                  -fx-text-fill: $text-color-blue;

                  &:same {
                    -fx-text-fill: $text-color-yellow;

                  }

                  &:missing-blueprints > .text {
                    -fx-strikethrough: true;
                  }
                }
              }
            }

            .empty {
              -fx-min-width: 6.77em;
              -fx-max-width: 6.77em;
              -fx-font-size: 3.5em;
              -fx-text-fill: #4f4f4f;
            }

            .size-control {
              .control-text {
                @include fixedWidth(1em);
                @include fixedHeight(1.5em);
                -fx-alignment: center;
              }

              .control-button {
                @include fixedWidth(2em);
                -fx-cursor: hand;
                -fx-font-size: 1.5em;

                -fx-fill: $text-color-white;

                &:hover {
                  -fx-fill: $text-color-blue;
                }
              }
            }

            .class-control {
              .control-text {
                @include fixedWidth(1em);
                @include fixedHeight(1.5em);
                -fx-alignment: center;
              }

              .control-button {
                -fx-padding: 0.25em;
                -fx-cursor: hand;
                -fx-font-size: 1.5em;
                -fx-alignment: center;

                -fx-fill: $text-color-white;

                &:hover {
                  -fx-fill: $text-color-blue;
                }
              }
            }

            .mounting-control {
              .control-text {
                @include fixedWidth(1em);
                @include fixedHeight(1.5em);
                -fx-padding: 0 0 0 -0.1em;
                -fx-alignment: center;
              }

              .icon {
                @include fixedWidth(1.5em);
                @include fixedHeight(1.5em);
              }

              .control-button {
                -fx-cursor: hand;
                -fx-font-size: 1.5em;
                -fx-alignment: center;

                -fx-fill: $text-color-white;

                &:hover {
                  -fx-fill: $text-color-blue;
                }
              }
            }

            .power-control {
              //-fx-background-color: #3b1b00;

              @include fixedWidth(1.5em);

              .power-icon-and-label {
                &:configurable {
                  -fx-spacing: -0.1em;

                  -fx-cursor: hand;

                  &:hover {
                    .control-text {
                      -fx-text-fill: lighten($text-color-red, 10%);
                    }

                    .icon-container {
                      .icon {
                        -fx-fill: lighten($text-color-red, 10%);
                      }
                    }

                    &:powered {
                      .control-text {
                        -fx-text-fill: lighten($text-color-green, 10%);
                      }

                      .icon-container {
                        .icon {
                          -fx-fill: lighten($text-color-green, 10%);
                        }
                      }
                    }
                  }

                  &:pressed {
                    .control-text {
                      -fx-text-fill: $text-color-blue !important;
                    }

                    .icon-container {
                      .icon {
                        -fx-fill: $text-color-blue !important;
                      }
                    }
                  }

                }

                //-fx-background-color: #80bf0a;
                -fx-spacing: -0.1em;

                .icon-container {
                  //-fx-background-color: #2a003b;
                  @include fixedWidth(1em);
                  @include fixedHeight(1.5em);
                  -fx-padding: 0.25em 0 0 0em;

                  .icon {
                    @include fixedWidth(1em);
                    @include fixedHeight(1em);
                    -fx-fill: $text-color-red;
                    -fx-font-size: 1em;
                  }
                }

                .control-text {
                  -fx-text-fill: $text-color-red;
                  //@include fixedWidth(1em);
                  @include fixedHeight(1.3em);
                  -fx-padding: 0.2em 0 0 0.1em;
                  //-fx-padding: 0 0 0 -0.1em;
                  -fx-alignment: center;
                }

                &:powered {
                  .control-text {
                    -fx-text-fill: $text-color-green;
                  }

                  .icon-container {
                    .icon {
                      -fx-fill: $text-color-green;
                    }
                  }
                }

              }

              .icon-container {
                @include fixedWidth(1.5em);

                .control-button {
                  -fx-cursor: hand;
                  -fx-font-size: 1.5em;
                  -fx-alignment: center;

                  -fx-fill: $text-color-white;

                  &:hover {
                    -fx-fill: $text-color-blue;
                  }
                }
              }
            }
          }

          .overlay {

            -fx-padding: 0.3em;
            -fx-alignment: top-right;

            .resize-warning {
              -fx-background-color: #2e92df;
              -fx-font-weight: bold;
              -fx-padding: 0.4em;
            }
          }
        }
      }

      .column-set {
        -fx-spacing: 0.25em;
      }

      .column-header {
        @include fixedWidth(27em);
        @include fixedHeight(2em);
        -fx-background-color: $background-color-dark;
        -fx-border-color: $border-color-white;
        -fx-alignment: center;
      }

    }

    @at-root {
      .shipbuilder-details-popover {
        @include popover-style;
        -fx-background-insets: 0 !important;
        -fx-border-insets: 0em;
        -fx-padding: 0em;

        & > .border {
          -fx-stroke: $border-color-white !important;
          -fx-stroke-width: 1px !important;
          -fx-fill: $background-color-dark !important;
          -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0) !important;
        }

        .module-details {
          -fx-background-color: #0f0f0f;
          @include fixedWidth(42.1em);
          //-fx-min-width: 42.1em;
          //-fx-max-width: 42.2em;
          -fx-border-color: $border-color-white;
          -fx-border-width: 1px;

          .title {
            -fx-padding: 0.25em;
            -fx-font-size: 1.2em;
            -fx-font-weight: bold;
            -fx-wrap-text: true;
          }

          .legacy-save {
            -fx-cursor: hand;
            -fx-text-fill: $text-color-blue;
            //@include fixedHeight(1.4em);
            -fx-alignment: bottom-right;
            -fx-padding: 0.25em 0.25em 0em 0em;

            &:hover {
              -fx-text-fill: lighten($text-color-blue, 10%);
            }
          }

          .properties {
            @include fixedWidth(42em);
            -fx-border-width: 0.1em 0 0.1em 0;
            -fx-border-color: $border-color-white;

            .property {
              -fx-padding: 0.25em;
              @include fixedWidth(21em);
              -fx-border-width: 0 0.1em 0.1em 0;
              -fx-border-color: $border-color-grey;

              &:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:first-row:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:first-row:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:last-row:left-column {
                -fx-border-width: 0 0.1em 0 0;
              }

              &:last-row:right-column {
                -fx-border-width: 0 0 0 0;
              }


              .name {
                -fx-min-height: 1.45em;
                -fx-alignment: center-left;
              }

              .value {
                -fx-min-height: 1.45em;
                -fx-alignment: center-right;
              }
            }
          }

          .attributes {
            @include fixedWidth(42em);
            -fx-border-width: 0.1em 0 0 0;
            -fx-border-color: $border-color-white;

            .attribute {
              @include fixedWidth(21em);
              -fx-border-width: 0 0.1em 0.1em 0;
              -fx-border-color: $border-color-grey;

              &:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:first-row:left-column {
                -fx-border-width: 0 0.1em 0.1em 0;
              }

              &:first-row:right-column {
                -fx-border-width: 0 0 0.1em 0;
              }

              &:last-row:left-column {
                -fx-border-width: 0 0.1em 0 0;
              }

              &:last-row:right-column {
                -fx-border-width: 0 0 0 0;
              }

              .texts {
                -fx-padding: 0.25em;
                @include fixedWidth(21em);

                .name {
                  -fx-min-height: 1.45em;
                  -fx-alignment: center-left;
                }

                .value {
                  -fx-padding: 0.1em 0.2em 0.1em 0.2em;
                  -fx-border-radius: 0.5em;
                  -fx-border-color: #2e92df;
                  -fx-border-width: 0.1em;
                  -fx-alignment: center-left;

                  &:negative {
                    -fx-text-fill: $text-color-red;
                    -fx-border-color: $border-color-red;
                  }

                  &:positive {
                    -fx-text-fill: $text-color-green;
                    -fx-border-color: $border-color-green;
                  }
                }

                .arrow {
                  -fx-alignment: center-left;
                  -fx-font-size: 1.3em;
                }

              }

              .progress {
                @include segmented-bar-straight();
                @include fixedWidth(20.9em);
                @include fixedHeight(0.2em);

                .present {
                  -fx-background-color: $progress-bar-color-red;

                  &:positive {
                    -fx-background-color: $progress-bar-color-green;
                  }
                }

                .not-present {
                  -fx-background-color: $progress-bar-color-grey;
                }

              }
            }
          }
        }
      }

      .stats-column {
        -fx-border-width: 1px;
        -fx-border-color: $border-color-white;
      }

      .stats-column-left {
        -fx-border-width: 1px 1px 1px 1px;
        -fx-border-color: $border-color-white;
      }

      .stats-column-right {
        -fx-border-width: 1px 1px 1px 0;
        -fx-border-color: $border-color-white;
      }
    }
    @at-root {
      .shipbuilder-ship-view-popover {
        @include popover-style;
        @include fixedWidth(27em);
        @include fixedHeight(15.1875em);
        -fx-background-insets: 0 !important;
        -fx-border-insets: 0em;
        -fx-padding: 0em;

        & > .border {
          -fx-stroke: $border-color-white !important;
          -fx-stroke-width: 0px !important;
          -fx-fill: $background-color-dark !important;
          -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0) !important;
        }

        .ship-view {
          @include fixedWidth(27em);
          @include fixedHeight(15.1875em);

          .ship-view-image {
            -fx-padding: 1em;
            @include fixedWidth(26.5em);
            @include fixedHeight(14.9063em);
          }

          .target {
            -fx-stroke: $text-color-green;
            -fx-fill: $text-color-green;
            -fx-stroke-width: 0.25em;
          }

          .container {
            @include fixedWidth(27em);
            @include fixedHeight(15.1875em);
            -fx-border-insets: -1px;
            -fx-border-width: 2px;
            -fx-border-color: $border-color-white;

            .viewport {
              -fx-padding: 1em;
              @include fixedWidth(26.5em);
              @include fixedHeight(14.9063em);
            }
          }
        }
      }
    }

    @at-root {
      .shipbuilder-module-select-popover {
        @include fixedWidth(27em);
        -fx-min-height: 25em;
        -fx-max-height: 25em;
        -fx-padding: 0em;
        -fx-background-insets: 0 !important;
        -fx-border-insets: 0em !important;

        & > .border {
          -fx-fill: $border-color-black !important;
          -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0) !important;
        }

        .scroll-pane2 {
          -fx-padding: 0em;
          @include fixedWidth(27em);
          -fx-min-height: 25em;
          -fx-max-height: 25em;

          -fx-fit-to-width: true;
          -fx-fit-to-height: true;

          .scroll-pane-content {
            -fx-padding: 0em !important;
            -fx-spacing: 0em;
          }

          .module-select-content {
            -fx-padding: 0em !important;
            -fx-spacing: 0.25em;
            @include fixedWidth(25.7em);

            .changes {
              .button {
                @include fixedWidth(25.1em);
              }
            }

            .section {
              @include fixedWidth(25.7em);
              -fx-padding: 0.25em;
              -fx-spacing: 0.1em;
              -fx-background-color: #0f0f0f;

              .title {
                @include fixedHeight(2em);
                -fx-alignment: center-left;
                -fx-font-size: 1.05em;
                -fx-background-color: #0f0f0f;
              }


              .blueprint-buttons {
                -fx-spacing: 0.1em;
                @include fixedWidth(25.1em);

                .blueprint-button {
                  @include fixedWidth(25.1em);
                }
              }

              .progression {
                @include fixedWidth(25.1em);
                -fx-spacing: 0.125em;

                .grade-button {
                }
              }

              .hardpoint-buttons {
                @include fixedWidth(25.1em);
                -fx-spacing: 0.1em;

                .hardpoint-button {
                  @include fixedWidth(6.2em);
                }
              }

              .module-buttons {
                @include fixedWidth(25.1em);
                -fx-font-size: 1em;
                -fx-spacing: 0.1em;

                .module-button {
                  -fx-pref-height: 2.1em;

                  &:overload {
                    -fx-border-color: #ff7c7c;
                  }

                  .image-box {
                    .module-image {
                      /*-fx-max-width: 1.5em;*/
                      -fx-max-height: 1.5em;
                      -fx-padding: 0em 0.2em 0em 0em;
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}