.completed {
    /*-fx-background-color: blue, yellow, linear-gradient(to bottom, derive(coral, +50%), coral);*/
    -fx-font-weight: normal;
}

.completed > .title {
    /*noinspection CssInvalidFunction*/
    /*-fx-background-color: linear-gradient(to bottom, derive(#89d07f, +50%), #89d07f);*/
}

.completed > .title > .text {
    -fx-fill: #89d07f;
}

.blueprint-title-pane > .title > .arrow-button .arrow, .blueprint-title-pane > .title > .text {
    -fx-translate-x: 5;
}

.category-title-pane {
    -fx-font-weight: bold;
}

.regular {
    -fx-font-weight: normal;
}

.material {
    -fx-border-color: black;
}

.material > .label {
    -fx-text-fill: black;
}

.material-relevant {
    -fx-font-weight: bold;
}

.material-irrelevant {
    -fx-font-weight: normal;
}

.material-good-relevant {
    -fx-background-color: #cab951;
}

.material-good-irrelevant {
    -fx-background-color: #9d8e05;
}

.material-good-engineer-relevant {
    /*noinspection CssInvalidFunction*/
    -fx-background-color: #ffffff, #cab951, linear-gradient(to right, derive(#ffffff, +1%), #cab951);
}

.material-good-engineer-irrelevant {
    /*noinspection CssInvalidFunction*/
    -fx-background-color: #ffffff, #9d8e05, linear-gradient(to right, derive(#ffffff, +1%), #9d8e05);
}

.material-good-unknown {
    -fx-background-color: #ba5efa;
}

.material-data-relevant {
    -fx-background-color: #53e5ea;
}

.material-data-irrelevant {
    -fx-background-color: #05999d;
}

.material-data-engineer-relevant {
    /*noinspection CssInvalidFunction*/
    -fx-background-color: #ffffff, #53e5ea, linear-gradient(to right, derive(#ffffff, +1%), #53e5ea);
}

.material-data-engineer-irrelevant {
    /*noinspection CssInvalidFunction*/
    -fx-background-color: #ffffff, #05999d, linear-gradient(to right, derive(#ffffff, +1%), #05999d);
}

.material-data-unknown {
    -fx-background-color: #ba5efa;
}

.material-asset-chemical {
    -fx-background-color: #98ef78;
}

.material-asset-tech {
    -fx-background-color: #78efd7;
}

.material-asset-circuit {
    -fx-background-color: #efa278;
}

.material-asset-circuit {
    -fx-background-color: #efa278;
}

.material-asset-unknown {
    -fx-background-color: #ba5efa;
}

.material-favourite > .materialcard-name {
    -fx-font-style: italic;
}

.category-label {
    -fx-min-width: 400;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-label-padding: 5;
}

.materialcard-name {
    -fx-pref-width: 200;
    -fx-label-padding: 5;
}


.materialcard-amount {
    -fx-pref-width: 90;
    -fx-padding: 5;
    -fx-text-alignment: right;
}

.ingredient {
    -fx-border-color: black;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-pref-width: 300;
}


.ingredient > .label {
    -fx-text-fill: black;
}

.ingredient-without-amount {
    -fx-background-color: #fff;
}

.ingredient-filled {
    -fx-background-color: #89d07f;
}

.ingredient-unfilled {
    -fx-background-color: #ff7c7c;
}

.ingredient > .name {
    -fx-pref-width: 500;
    -fx-label-padding: 5;
}

.ingredient-with-amount > .name {
    -fx-pref-width: 343;
}

.ingredient-without-amount > .available, .ingredient-without-amount > .required {
    -fx-pref-width: 0;
}

.ingredient-with-amount > .available {
    -fx-pref-width: 100;
    -fx-padding: 5;
    -fx-text-alignment: right;
}

.ingredient-with-amount > .required {
    -fx-pref-width: 50;
    -fx-padding: 5;
    -fx-text-alignment: right;
}

.legend {
    -fx-vgap: 10;
    -fx-min-width: 538;
}

.legend > .materialcard-name {
    -fx-pref-width: 500;
    -fx-min-width: 500;
    -fx-label-padding: 5;
}

.bottom-bar {
    -fx-pref-height: 25;
    -fx-alignment: center-left;
    -fx-spacing: 10;
    -fx-padding: 0 10 0 10;

    -fx-border-width: 1;
    -fx-border-color: #2e2e2e;
}


.search:focused, .search:selected {
}

.search > .text {
    -fx-pref-height: 20;
}


.card-grid {
    -fx-padding: 5, 0, 0, 0;
    -fx-start-margin: 5;
}

.card-grid > .flow-pane {
    -fx-padding: 5, 0, 0, 0;
    -fx-start-margin: 5;
}

.donate-label {
}

.donate-label > .text {
    -fx-min-width: 250;
    -fx-text-alignment: center;
}

.donate {
    -fx-text-alignment: center;
}

.bugs {
    -fx-min-height: 40;
}

.donate:hover {
    -fx-background-color: #aaa;
}

.bugs:hover {
    -fx-background-color: #aaa;
}

.download:hover {
    -fx-background-color: #aaa;
}

.tooltip {
    -fx-background: rgba(30, 30, 30, 1.0);
    -fx-text-fill: white;
    -fx-background-color: rgba(30, 30, 30, 1.0);
    -fx-background-radius: 0px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
    -fx-font-weight: normal;
    -fx-font-style: normal;

}

.engineerLabelHeader {
    -fx-padding: 5;
}

.engineerLabel {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-text-fill: black;
}

.engineerFlow {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-max-width: 300;
}

.engineer-unlocked {

    -fx-background-color: #89d07f;
}

.engineer-locked {

    -fx-background-color: #ff7c7c;
}

.menubutton {
    -fx-font-size: 16;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: #111111, #111111, #111111, #111111;
    -fx-text-fill: white;
    -fx-max-width: 44;
    -fx-max-height: 30;
    -fx-min-width: 44;
    -fx-min-height: 30;
    -fx-pref-width: 44;
    -fx-pref-height: 30;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: #2e2e2e, #2e2e2e, #2e2e2e, #2e2e2e;
    -fx-padding: 0, 0, 0, 0;
}

.menubutton:focused {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-border-color: #2e2e2e, #2e2e2e, #2e2e2e, #2e2e2e;
}

.menubutton:hover {
    -fx-border-width: 1;
    -fx-padding: 0, 0, 0, 0;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.menubutton:armed {

    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.menubutton:selected {
    -fx-border-width: 1;
    -fx-padding: 0, 0, 0, 0;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.filter-and-sort {
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-background-insets: 1;
    -fx-background-radius: 0, 0;
    -fx-border-width: 1;
    -fx-border-color: #2e2e2e;
}

.search-input {
    -fx-min-height: 30;
    -fx-min-width: 100;
    -fx-max-height: 30;
    -fx-background-insets: 1;
    -fx-background-radius: 0, 0;
    -fx-border-width: 1;
    -fx-border-color: #2e2e2e;
}

.scroll-pane {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;

}

.app {

    -fx-background-color: #111111;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: #111111 !important;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #111111 !important;
    -fx-effect: none;
}

.tab-pane {
    -fx-background-insets: 0 0 0 0;
}


.tab-pane:left > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.tab-pane:left > .tab-header-area {
    -fx-padding: 10 0 0 3; /* 5 0 2 5 */
}

.tab-pane:left > .tab-header-area > .headers-region > .tab {
    -fx-border-width: 1;
    -fx-border-color: black;
}

.tab-pane:left > .tab-header-area > .headers-region > .tab:armed,
.tab-pane:left > .tab-header-area > .headers-region > .tab:selected,
.tab-pane:left > .tab-header-area > .headers-region > .tab:focused {

    -fx-background-color: #252525 !important;
    -fx-border-width: 0;
}


.tab {
    -fx-background-insets: 0 0 0 0;
    -fx-effect: none;
    -fx-font-size: 16;
}

.wishlist-button {
    -fx-fit-to-width: true;
}

.wishlist-item > .text {
    -fx-text-fill: black;
}

.wishlist-item {
    -fx-background-radius: 5;
    -fx-background-color: #fff;
    -fx-text-fill: black;
}

.wishlist-item > .label {
    -fx-label-padding: 5;
    -fx-text-fill: black;
}

.wishlist-item > .button:hover,
.wishlist-item > .button {
    -fx-background-color: black;
    -fx-background-radius: 0 4 4 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-radius: 0 4 4 0;
    -fx-border-color: black;
    -fx-text-fill: #fff;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.wishlist-item > .button:armed,
.wishlist-item > .button:pressed,
.wishlist-item > .button:selected,
.wishlist-item > .button:visited,
.wishlist-item > .button:selected:focused,
.wishlist-item > .button:focused {
    -fx-background-color: black;
    -fx-background-radius: 0 4 4 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-radius: 0 4 4 0;
    -fx-border-color: black;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.wishlist-header {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-label-padding: 5;
}

.settings-header {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-label-padding: 5;
}

.settings-label {
    -fx-label-padding: 5;
    -fx-min-height: 20;
    -fx-text-alignment: center;
}