.root {
    fx-font-size: 12px;
}

.app {
    -fx-pref-height: 600;
    -fx-pref-width: 800;
}

.completed {
    /*-fx-background-color: blue, yellow, linear-gradient(to bottom, derive(coral, +50%), coral);*/
    -fx-font-weight: normal;
    -fx-fill: #89d07f;
}

.recipe-complete {
    -fx-text-fill: #89d07f;
}

.recipe-incomplete {
    -fx-text-fill: white;
}

/*.completed > .title {*/
/*    !*noinspection CssInvalidFunction*!*/
/*    !*-fx-background-color: linear-gradient(to bottom, derive(#89d07f, +50%), #89d07f);*!*/
/*}*/

/*.completed > .title > .text {*/
/*    -fx-fill: #89d07f;*/
/*}*/

.blueprint-title-pane > .title > .arrow-button .arrow, .blueprint-title-pane > .title > .text {
    -fx-translate-x: 5;
}

.category-title-pane {
    -fx-font-weight: bold;
}

.regular {
    -fx-font-weight: normal;
    -fx-fill: white;
}

.material {
    -fx-border-color: black;
    -fx-pref-height: 2em;
    -fx-min-height: 2em;
    -fx-max-height: 2em;
    -fx-alignment: center-left;
    -fx-background-color: #0f0f0f;
    -fx-pref-width: 32em;
    -fx-min-width: 32em;
    -fx-max-width: 32em;
}

.material:hover {
    -fx-cursor: hand;
    -fx-background-color: #4f4f4f;
}

.material > .label {
    -fx-text-fill: #2e92df;
}

.material-relevant > .label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.material-irrelevant > .label {
    -fx-font-weight: normal;
    -fx-text-fill: #2e92df;
}

.material-unknown {
    -fx-background-color: #ba5efa;
}

.material-favourite > .materialcard-name {
    -fx-font-style: italic;
}


.category-label {
    -fx-min-width: 400;
    -fx-font-size: 1.35em;
    -fx-font-weight: bold;
    -fx-label-padding: 5;
}

.materialcard-name {
    /*-fx-pref-width: 23em;*/
    -fx-label-padding: 0 0 0 5;
}


.materialcard-amount {
    /*-fx-pref-width: 3em;*/
    -fx-padding: 5;
    -fx-text-alignment: right;
}

.materialcard-image {
    -fx-max-height: 2em;
    -fx-max-width: 2em;
    -fx-pref-height: 2em;
    -fx-pref-width: 2em;
    -fx-min-height: 2em;
    -fx-min-width: 2em;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.wishlist-content {
    -fx-spacing: 10;
    -fx-padding: 5;
}

.wishlist-recipes {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.wishlist-ingredients {
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.wishlist-blueprints {
    -fx-spacing: 4;
}

.wishlist-ingredient {
    -fx-border-color: black;
    -fx-min-height: 30px;
    -fx-max-width: 244px;
    -fx-min-width: 244px;
    -fx-alignment: center-left;
}


.wishlist-ingredient > .label {
    -fx-text-fill: black;
}

.wishlist-ingredient-name {
    /*-fx-pref-width: 300;*/
    -fx-label-padding: 5;
    -fx-font-weight: bold;
}

.wishlist-ingredient > .available {
    -fx-pref-width: 50;
    -fx-padding: 5;
    -fx-text-alignment: right;
}

.wishlist-ingredient > .required {
    -fx-pref-width: 50;
    -fx-padding: 5;
    -fx-text-alignment: right;
}

.ingredient {
    -fx-border-color: #0f0f0f;
    -fx-alignment: center-left;
    -fx-min-height: 30px;
    -fx-max-width: 242px;
    -fx-min-width: 242px;
    -fx-background-color: #0f0f0f;
}

.ingredient-filled .label {
    /*-fx-background-color: #89d07f;*/
    -fx-text-fill: #89d07f;
    /*-fx-background-color: #0f0f0f;*/
}

.ingredient-unfilled .label {
    /*-fx-background-color: #ff7c7c;*/
    -fx-text-fill: #ff7c7c;
    /*-fx-background-color: #0f0f0f;*/
}

.ingredient-without-amount {
    -fx-background-color: #0f0f0f;
    -fx-max-width: 490px;
    -fx-min-width: 490px;
}

.ingredient-name {
    -fx-text-fill: white !important;
    /*-fx-pref-width: 500;*/
    -fx-label-padding: 5;
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}

.ingredient-available {
    /*-fx-text-fill: black;*/
    -fx-font-weight: bold;
}

.ingredient-required {
    /*-fx-text-fill: black;*/
    -fx-font-weight: bold;
}

.ingredient-quantity-section {
    -fx-padding: 5px;
    -fx-spacing: 10px;
}

.ingredient-quantity-label {
    /*-fx-text-fill: black;*/
    -fx-font-weight: normal;
}

.ingredient-with-amount > .ingredient-name {
    /*-fx-pref-width: 343;*/
}

.ingredient-without-amount > .ingredient-available, .ingredient-without-amount > .ingredient-required {
    -fx-pref-width: 0;
}

.ingredient-with-amount > .ingredient-available {
    -fx-min-width: 100;
    -fx-pref-width: 100;
    -fx-padding: 5;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

.ingredient-with-amount > .ingredient-required {
    -fx-pref-width: 100;
    -fx-max-width: 1000;
    -fx-padding: 5;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

/*.legend {*/
/*    -fx-vgap: 10;*/
/*    !*-fx-min-width: 538;*!*/
/*}*/

/*.legend > .materialcard-name {*/
/*    -fx-pref-width: 400;*/
/*    !*-fx-min-width: 500;*!*/
/*    -fx-label-padding: 5;*/

/*}*/
.engineer-grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 5;
}

.bottombar {
    -fx-alignment: center-left;
    -fx-spacing: 10;
    -fx-padding: 0 0 0 10;

    -fx-border-width: 1;
    -fx-border-color: #2e2e2e;
    -fx-max-height: 2em;
    -fx-min-height: 2em;
    -fx-pref-height: 2em;
}


.search:focused, .search:selected {
}

/*.search > .text {*/
/*    -fx-pref-height: 20;*/
/*}*/


.material-overview {
    -fx-padding: 5, 0, 0, 0;
    -fx-start-margin: 5;
    -fx-spacing: 10;
}

.material-overview .flow-pane {
    /*-fx-padding: 5, 0, 0, 0;*/
    /*-fx-start-margin: 5;*/
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.donate-label {
}

.donate-label > .text {
    -fx-min-width: 250;
    -fx-text-alignment: center;
}

.donate {
    -fx-text-alignment: center;
}

.bugs {
    -fx-min-height: 40;
}

.donate:hover {
    -fx-background-color: #aaa;
}

.bugs:hover {
    -fx-background-color: #aaa;
}

.download:hover {
    -fx-background-color: #aaa;
}

.tooltip {
    -fx-background: rgba(30, 30, 30, 1.0);
    -fx-text-fill: white;
    -fx-background-color: rgba(30, 30, 30, 1.0);
    -fx-background-radius: 0px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
    -fx-font-weight: normal;
    -fx-font-style: normal;

}

.engineerLabelHeader {
    -fx-padding: 5;
}

.engineer-label {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-text-fill: black;
}

.recipe-titled-pane-content {
    -fx-fill-width: true;
    -fx-padding: 0;
}

.recipes-list {
    -fx-min-width: 500;
    -fx-pref-width: 500;
    -fx-max-width: 500;
}

.recipe-engineer-flow {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-max-width: 500;
}

.engineer-unlocked {

    -fx-background-color: #0f0f0f;
    -fx-text-fill: #89d07f;
}

.engineer-locked {

    -fx-background-color: #0f0f0f;
    -fx-text-fill: #ff7c7c;
}

.menubutton {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: #111111, #111111, #111111, #111111;
    -fx-text-fill: white;
    -fx-max-width: 3.5em;
    -fx-max-height: 2.5em;
    -fx-min-width: 3.5em;
    -fx-min-height: 2.5em;
    -fx-pref-width: 3.5em;
    -fx-pref-height: 2.5em;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: #2e2e2e, #2e2e2e, #2e2e2e, #2e2e2e;
    -fx-padding: 0, 0, 0, 0;
}

.menubutton > .text {
    -fx-font-size: 1em;
}

.menubutton:focused {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-border-color: #2e2e2e, #2e2e2e, #2e2e2e, #2e2e2e;
}

.menubutton:hover {
    -fx-border-width: 1;
    -fx-padding: 0, 0, 0, 0;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.menubutton:armed {

    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.menubutton:selected {
    -fx-border-width: 1;
    -fx-padding: 0, 0, 0, 0;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.filter-and-sort {
    -fx-background-insets: 1;
    -fx-background-radius: 0, 0;
    -fx-border-width: 1;
    -fx-border-color: #2e2e2e;
    -fx-max-height: 2.5em;
    -fx-min-height: 2.5em;
    -fx-pref-height: 2.5em;
}

.search-input {
    -fx-min-width: 100;
    -fx-background-insets: 1;
    -fx-background-radius: 0, 0;
    -fx-border-width: 1;
    -fx-border-color: #2e2e2e;
    -fx-max-height: 2.5em;
    -fx-min-height: 2.5em;
    -fx-pref-height: 2.5em;
}

.scroll-pane {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;

}

.app {

    -fx-background-color: #111111;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: #111111 !important;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #111111 !important;
    -fx-effect: none;
}

.tab-pane {
    -fx-background-insets: 0 0 0 0;
}


.tab-pane:left > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.tab-pane:left > .tab-header-area {
    -fx-padding: 15px 0px 0 0px; /* 5 0 2 5  12 -> 1*/
    -fx-pref-height: 3.5em;
}

.tab-pane:left > .tab-header-area > .headers-region > .tab {
    -fx-border-width: 1;
    -fx-border-color: black;
}

.tab-pane:left > .tab-header-area > .headers-region > .tab:armed,
.tab-pane:left > .tab-header-area > .headers-region > .tab:selected,
.tab-pane:left > .tab-header-area > .headers-region > .tab:focused {

    -fx-background-color: #252525 !important;
    -fx-border-width: 0;
}


.tab {
    -fx-background-insets: 0 0 0 0;
    -fx-effect: none;
    -fx-font-size: 1.35em;
}

.recipe-wishlist-button {
    -fx-fit-to-width: true;
}

.wishlist-select {
    -fx-min-width: 10em;
    -fx-pref-width: 35em;
    -fx-max-width: 35em;
}

.wishlist-newname {
    -fx-min-width: 20em;
    -fx-background-insets: 1;
    -fx-background-radius: 0, 0;
    -fx-border-width: 1;
    -fx-border-color: #2e2e2e;
    /*-fx-max-height: 2.4em;*/
    /*-fx-min-height: 2.4em;*/
    /*-fx-pref-height: 2.4em;*/
}

.wishlist-item > .text {
    -fx-text-fill: black;
}


.wishlist-item {
    /*-fx-background-radius: 5;*/
    -fx-background-color: #0f0f0f;
    -fx-text-fill: white;
}

.wishlist-item > .label {
    -fx-label-padding: 5;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.wishlist-item-close {
    -fx-background-color: #4f4f4f;
    /*-fx-background-radius: 0 4 4 0;*/
    -fx-background-insets: 0 0 0 0;
    /*-fx-border-radius: 0 4 4 0;*/
    -fx-border-color: black;
    -fx-text-fill: #fff;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.wishlist-item-close:hover {
    -fx-background-color: #fff;
    -fx-text-fill: black;
}

.wishlist-item-close:armed,
.wishlist-item-close:pressed,
.wishlist-item-close:selected,
.wishlist-item-close:visited,
.wishlist-item-close:selected:focused,
.wishlist-item-close:focused {
    -fx-background-color: black;
    /*-fx-background-radius: 0 4 4 0;*/
    -fx-background-insets: 0 0 0 0;
    /*-fx-border-radius: 0 4 4 0;*/
    -fx-border-color: black;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.wishlist-lowlight.ingredient-filled {
    -fx-background-color: rgba(15, 15, 15, .05);
    -fx-text-fill: rgba(0, 0, 0, .05) !important;
}

.wishlist-lowlight.ingredient-unfilled {
    -fx-background-color: rgba(15, 15, 15, .05);
    -fx-text-fill: rgba(0, 0, 0, .05) !important;
}

.wishlist-lowlight.ingredient-filled .label {
    /*-fx-background-color: rgba(15, 15, 15, .05);*/
    -fx-text-fill: rgba(0, 0, 0, .5) !important;
}

.wishlist-lowlight.ingredient-unfilled .label {
    /*-fx-background-color: rgba(15, 15, 15, .05);*/
    -fx-text-fill: rgba(0, 0, 0, .5) !important;
}

/*.wishlist-lowlight.ingredient-filled {*/
/*    -fx-background-color: #677767;*/
/*    */
/*}*/

/*.wishlist-lowlight.ingredient-unfilled {*/
/*    -fx-background-color: #a59393;*/
/*}*/

.wishlist-item.wishlist-highlight .label {
    -fx-background-color: #4f4f4f;
    -fx-text-fill: #2e92df;
}

.recipe-wishlist-count {
    -fx-background-radius: 15;
    -fx-background-color: white;
    -fx-label-padding: 6;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.recipe-wishlist-count-box {
    -fx-spacing: 10;
    -fx-alignment: top-right;

}

.wishlist-highlight > .required {
    -fx-font-weight: bold;
}

.wishlist-highlight > .available {
    -fx-font-weight: bold;
}

.wishlist-highlight > .name {
    -fx-font-weight: bold;
}

.wishlist-header {
    -fx-font-size: 1.35em;
    -fx-min-height: 3em;
    -fx-font-weight: bold;
    /*-fx-label-padding: 5;*/
}

.settings-header {
    -fx-font-size: 1.35em;
    -fx-font-weight: bold;
    -fx-label-padding: 5;
}

.settings-label {
    -fx-label-padding: 5;
    -fx-min-height: 20;
    -fx-min-width: 200px;
    -fx-text-alignment: center;
}

.settings-journal-line {
    -fx-alignment: center-left;
}

.settings-spacing-10 {
    -fx-spacing: 10;
}

.settings-dropdown {
    -fx-min-width: 200px;
    -fx-max-height: 2.5em;
    -fx-min-height: 2.5em;
    -fx-pref-height: 2.5em;
}

.settings-button {
    -fx-min-width: 200px;
    -fx-max-height: 2.5em;
    -fx-min-height: 2.5em;
    -fx-pref-height: 2.5em;
}

.bottombar-dropdown {

    /*-fx-min-width: 200px;*/
    -fx-pref-width: 300px;
    -fx-max-height: 2em;
    -fx-min-height: 2em;
    -fx-pref-height: 2em;
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
}

.engineer-card {
    -fx-min-width: 21em;
    -fx-background-color: #0f0f0f;
    -fx-padding: 0 0 10 0;
}

.engineer-card .separator {
    -fx-padding: 5 0 0 0;
}

.engineer-image {
    -fx-min-width: 21em;
    -fx-pref-width: 21em;
    -fx-max-width: 21em;
    -fx-pref-height: 15.47em;
}

.engineer-name {
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-label-padding: 5px;
    -fx-cursor: hand;
}

.engineer-name:hover {
    -fx-text-fill: #2e92df;
}

.engineer-location {
    -fx-text-fill: #0078d6;
    -fx-label-padding: 5px;
}

.engineer-location-line {
    -fx-max-width: 21em;
}

.engineer-location-line:hover {
    -fx-cursor: hand;
}

.engineer-copy-icon {
    -fx-max-width: 1em;
    -fx-max-height: 1em;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.ingredient-image {
    -fx-max-width: 2em;
    -fx-max-height: 2em;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.engineer-distance {
    -fx-text-fill: #777;
    -fx-label-padding: 5px;
}

.engineer-location-line:hover > .engineer-location {
    -fx-text-fill: #2e92df;
}

.engineer-category {
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-label-padding: 5px;
}

.engineer-prerequisite {
    -fx-text-fill: #0078d6;
    -fx-label-padding: 0 5px 0 2px;
    -fx-max-width: 19.7em;
    -fx-wrap-text: true;
}

.engineer-prerequisite:hover {
    -fx-text-fill: #2e92df;
    -fx-cursor: hand;
}

.engineer-blueprint {
    -fx-text-fill: #0078d6;
    -fx-label-padding: 0 5px 0 2px;
    -fx-max-width: 19.7em;
    -fx-wrap-text: true;
}

.engineer-bullet {
    -fx-text-fill: #0078d6;
    -fx-label-padding: 0 0 0 0.3em;
    -fx-text-alignment: center;
    -fx-min-width: 1.3em;
    -fx-max-width: 1.3em;
}

.engineer-blueprint:hover {
    -fx-text-fill: #2e92df;
    -fx-cursor: hand;
}

.specialisation-force {

    -fx-text-fill: #ff3c00;
    -fx-alignment: center-right;
    -fx-max-height: 2.2em;
}

.specialisation-dynamic {

    -fx-text-fill: #ff00e7;
    -fx-alignment: center-right;
    -fx-max-height: 2.2em;
}

.specialisation-strategic {

    -fx-text-fill: #7cd429;
    -fx-alignment: center-right;
    -fx-max-height: 2.2em;
}

.specialisation-unknown {

    -fx-text-fill: #ffffff;
    -fx-alignment: center-right;
    -fx-max-height: 2.2em;
}

.specialisation-hybrid {

    -fx-text-fill: #ffffff;
    -fx-alignment: center-right;
    -fx-max-height: 2.2em;
}

.specialisation-image {
    -fx-max-width: 2.2em;
    -fx-max-height: 2.2em;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.specialisation-line {
    -fx-padding: 0 0 0 5;
}

.recipe-content {
    -fx-padding: 5px;
    -fx-max-height: 9999;
}

.recipe-ingredient-flow {
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.recipe-modifier-flow {
    -fx-hgap: 4;
    -fx-vgap: 4;

}

.recipe-description {
    -fx-translate-x: 15px;
    -fx-font-weight: normal;
}

.recipe-modifier {
    -fx-background-color: #0f0f0f;
    /*-fx-text-fill: black;*/
    -fx-border-color: black;
    -fx-border-width: 1;

}

.recipe-modifier-name {
    -fx-label-padding: 5px;
    /*-fx-min-width: 300px;*/
    -fx-min-height: 2em;
    -fx-text-fill: #2e92df;
}

.recipe-modifier-value {
    -fx-text-fill: #2e92df;
    -fx-label-padding: 5px;
    -fx-min-height: 2em;
    -fx-alignment: center-right;
    -fx-max-width: 1000;
}

.recipe-title-label {
    -fx-font-size: 1.1em;
    /*-fx-min-height: 3em;*/
    /*-fx-pref-height: 2.2em;*/
    -fx-min-height: 3em;
    -fx-label-padding: 5px;
    -fx-font-weight: bold;
}

.recipe {
    -fx-min-width: 500px;
    -fx-pref-width: 500px;
    -fx-max-width: 500px;
}

.material-total {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: #0f0f0f;
    -fx-padding: 5px;
    -fx-pref-width: 32em;
    -fx-min-width: 32em;
    -fx-max-width: 32em;
}

.material-total .separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.material-total .text {
    -fx-text-fill: white;
}

.material-total-name {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.material-total-total-row {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.material-total-value-row {
    -fx-text-fill: white;
    -fx-label-padding: 2px;

}

.material-total-value-irrelevant-row {
    -fx-text-fill: #2e92df;
    -fx-label-padding: 2px;

}

.wishlist-visible-image {
    -fx-max-width: 2em;
    -fx-max-height: 2em;
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
    -fx-min-width: 2em;
    -fx-min-height: 2em;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-alignment: center;
}

.wishlist-visible-icon {
    -fx-background-color: #0f0f0f;
    /*-fx-background-color: #861919;*/
    -fx-cursor: hand;
    -fx-background-insets: 0 0 0 0;
    -fx-max-height: 2em;
    -fx-max-width: 2em;
    -fx-padding: 2;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-alignment: center-left;

}

.wishlist-visible-icon:hover {
    -fx-background-color: #0f0f0f;
}

.wishlist-visible-icon:armed,
.wishlist-visible-icon:pressed,
.wishlist-visible-icon:selected,
.wishlist-visible-icon:visited,
.wishlist-visible-icon:selected:focused,
.wishlist-visible-icon:focused {
    -fx-background-color: #0f0f0f;
    -fx-cursor: hand;
    -fx-background-insets: 0 0 0 0;
    -fx-max-height: 24;
    -fx-max-width: 24;
    -fx-padding: 1;
    -fx-border-color: black;
    -fx-border-width: 0;
}


.wishlist-visible-icon.visible {
    -fx-background-color: #0f0f0f;
    -fx-cursor: hand;
    -fx-background-insets: 0 0 0 0;
    -fx-max-height: 24;
    -fx-max-width: 24;
    -fx-padding: 2;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.wishlist-visible-icon:hover.visible {
    -fx-background-color: #0f0f0f;
}

.wishlist-visible-icon:armed.visible,
.wishlist-visible-icon:pressed.visible,
.wishlist-visible-icon:selected.visible,
.wishlist-visible-icon:visited.visible,
.wishlist-visible-icon:selected:focused.visible,
.wishlist-visible-icon:focused.visible {
    -fx-background-color: #0f0f0f;
    -fx-cursor: hand;
    -fx-background-insets: 0 0 0 0;
    -fx-max-height: 24;
    -fx-max-width: 24;
    -fx-padding: 1;
    -fx-border-color: black;
    -fx-border-width: 0;
}

.wishlist-category {
    -fx-min-width: 246px;
    -fx-padding: 5px;
}

.wishlist-item > .label.wishlist-craftable {
    -fx-text-fill: #89d07f;
}

.wishlist-item > .label.wishlist-craftable:hover {
    -fx-text-fill: #2e92df;
}

.wishlist-checkbox {
    -fx-padding: 5;
}


.about-version {
    -fx-pref-width: 538;
    -fx-alignment: center;
}

.about-download-link {
    -fx-pref-width: 538;
    -fx-alignment: center;
}

.about-disclaimer1 {
    -fx-pref-width: 538;
    -fx-alignment: center;
}

.about-disclaimer2 {
    -fx-pref-width: 538;
    -fx-alignment: center;
}

.about-beer {
    -fx-pref-width: 538;
    -fx-alignment: center;
    -fx-min-height: 40;
}

.about-donate {
    -fx-pref-width: 538;
    -fx-alignment: center;
}

.about-discord {
    -fx-pref-width: 538;
    -fx-alignment: center;
}

.about-bugs {
    -fx-pref-width: 538;
    -fx-alignment: center;
}

.wishlist-travel-path-table {
    -fx-fixed-cell-size: 2.5em;
    -fx-spacing: 5;
    -fx-hbar-policy: never;
}

.wishlist-travel-path-table *.scroll-bar:horizontal *.increment-button,
.wishlist-travel-path-table *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.wishlist-travel-path-table *.scroll-bar:horizontal *.increment-arrow,
.wishlist-travel-path-table *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.import-header {
    -fx-font-size: 1.35em;
    -fx-font-weight: bold;
    -fx-label-padding: 5;
}

.import-error {
    -fx-text-fill: #ff3c00;
    -fx-label-padding: 5;
}

.import-input {
}

.import-button {
}

.import-content {
    -fx-spacing: 10;
    -fx-padding: 5;
}

.tab-pane > .tab-header-area > .headers-region > .imported-wishlist-tab:selected > .tab-container > .tab-label {
    -fx-padding: 0 10 0 0;
}

.tab-close-button {
    -fx-cursor: hand;
}