.engineers-tab {
  @include tab;
}

.engineers-tab-content {
  @include scroll-pane-content;

  .engineer-grid {
    @include hvGap(0.25em);

    .engineer-card {
      @include engineer-card;

      .segmented-bar {
        @include fixedWidth(17.5em);
        @include fixedHeight(1em);

        &:horizontal > .only-segment {
          -fx-background-radius: 0;
          -fx-border-radius: 0;
        }

        &:horizontal > .first-segment {
          -fx-background-insets: 0 0 0 0;
          -fx-background-radius: 0 0 0 0;
        }

        &:horizontal > .middle-segment {
          -fx-background-insets: 0 0 0 0;
          -fx-background-radius: 0;
          -fx-border-radius: 0;
        }

        &:horizontal > .last-segment {
          -fx-background-radius: 0 0 0 0;
          -fx-border-radius: 0 0 0 0;
        }

        .segment {
          -fx-font-weight: bold;
          -fx-text-overrun: clip;

          .label {
            -fx-text-fill: $text-color-black;
          }

          //-fx-alignment: center-left;
        }
      }

      .grade-bar-image {
        /*-fx-max-width: 2.2em;*/
        -fx-min-height: 2.2em;
        -fx-pref-height: 2.2em;
        -fx-max-height: 2.2em;
        -fx-fit-to-height: true;
        /*-fx-fit-to-width: true;*/
      }
    }

    .engineer-card {
      .engineer-blueprint {
        -fx-text-fill: #0078d6;
        -fx-label-padding: 0 5px 0 2px;
        -fx-max-width: 19.6em;
        -fx-wrap-text: true;

        &:hover {
          -fx-text-fill: #2e92df;
          -fx-cursor: hand;
        }
      }

      .specialisation {
        -fx-padding: 0 0 0 5;

        .name {
          -fx-alignment: center-right;
          -fx-max-height: 2.2em;
        }

        .image {
          -fx-max-width: 2.2em;
          -fx-max-height: 2.2em;
          -fx-fit-to-height: true;
          -fx-fit-to-width: true;
        }

        &:force {
          .name {
            -fx-text-fill: #ff3c00;
          }
        }

        &:dynamic {
          .name {
            -fx-text-fill: #ff00e7;
          }
        }

        &:strategic {
          .name {
            -fx-text-fill: #7cd429;
          }
        }

        &:hybrid {
          .name {
            -fx-text-fill: #ffffff;
          }
        }

        &:unknown {
          .name {
            -fx-text-fill: #ffffff;
          }
        }
      }
    }


  }
}