<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.11</string>
  <key>CFBundleURLIdentifier</key>
  <string>nl.jixxed.ed.edomh</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>Elite Dangerous Odyssey Materials Helper</string>
  <key>CFBundleIconFile</key>
  <string>Elite Dangerous Odyssey Materials Helper.icns</string>
  <key>CFBundleIdentifier</key>
  <string>nl.jixxed.eliteodysseymaterials</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Elite Dangerous Odyssey Materials Helper</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>3.9.6</string>
  <key>CFBundleVersion</key>
  <string>3.9.6</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2026</string>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
  <key>CFBundleURLTypes</key>
    <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>edomh</string>
      <key>CFBundleURLSchemes</key>
      <array>
      <string>edomh</string>
      </array>
    </dict>
    </array>
 </dict>
</plist>
