$background-color-dark: rgb(15, 15, 15); //0f0f0f
$background-color-light: rgb(37, 37, 37);
$background-color-lighter: rgb(46, 46, 46);
$background-color-input: rgb(17, 17, 17);
$background-color-white: rgb(255, 255, 255);
$background-color-thargoid: rgb(59, 27, 0);
$background-color-guardian: rgb(39, 1, 54);
$background-color-black: rgb(0, 0, 0);

$border-color-black: rgb(0, 0, 0);
$border-color-grey: rgb(37, 37, 37);
$border-color-white: rgb(255, 255, 255);
$border-color-yellow: rgb(220, 192, 48);
$border-color-green: rgb(112, 154, 220);
$border-color-red: rgb(255, 0, 0);
$border-color-blue: rgb(46, 146, 223);

//base text colors
$text-color-green: rgb(112, 154, 220);
$text-color-red: rgb(255, 0, 0);
$text-color-blue: rgb(46, 146, 223);
$text-color-yellow: rgb(220, 192, 48);
$text-color-white: rgb(255, 255, 255);
$text-color-orange: rgb(255, 165, 0);
$text-color-grey: rgb(112, 112, 112);
$text-color-black: rgb(0, 0, 0);

$text-color-force: rgb(255, 60, 0);
$text-color-dynamic: rgb(255, 0, 231);
$text-color-strategic: rgb(124, 212, 41);

//progress bar colors
$progress-bar-color-green: rgb(112, 154, 220);
$progress-bar-color-red: rgb(255, 0, 0);
$progress-bar-color-blue: rgb(46, 146, 223);
$progress-bar-color-yellow: rgb(220, 192, 48);
$progress-bar-color-white: rgb(255, 255, 255);
$progress-bar-color-orange: rgb(255, 165, 0);
$progress-bar-color-grey: rgb(128, 128, 128);
$progress-bar-color-light-grey: rgb(192, 192, 192);
$progress-bar-color-black: rgb(0, 0, 0);
