// Base Color Palette
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey-dark: rgb(37, 37, 37);
$grey-medium: rgb(128, 128, 128);
$grey-light: rgb(192, 192, 192);

$green: rgb(112, 154, 220);
$red: rgb(255, 0, 0);
$dark-red: rgb(255, 0, 0);
$blue: rgb(46, 146, 223);
$yellow: rgb(220, 192, 48);

$force: rgb(255, 60, 0);
$dynamic: rgb(255, 0, 231);
$strategic: rgb(124, 212, 41);

$power-passive: rgb(50, 164, 168);
$orange-deep: rgb(206, 108, 30);
$purple: rgb(109, 61, 168);
$light-yellow: rgb(248, 255, 46);
$overpower: rgb(240, 20, 20);

$powerplay: rgb(255, 165, 0);
$thargoid: rgb(59, 27, 0);
$guardian: rgb(39, 1, 54);

// Background Colors
$background-color-dark: rgb(15, 15, 15);
$background-color-medium: rgb(31, 31, 31);
$background-color-light: $grey-dark;
$background-color-lighter: rgb(46, 46, 46);
$background-color-input: rgb(17, 17, 17);
$background-color-white: $white;
$background-color-black: $black;
$background-color-blue: $blue;
$background-color-thargoid: $thargoid;
$background-color-guardian: $guardian;

// Border Colors
$border-color-black: $black;
$border-color-grey: $grey-dark;
$border-color-light-grey: $grey-light;
$border-color-white: $white;
$border-color-yellow: $yellow;
$border-color-green: $green;
$border-color-red: $red;
$border-color-blue: $blue;

// Text Colors
$text-color-black: $black;
$text-color-white: $white;
$text-color-grey: $grey-medium;
$text-color-green: $green;
$text-color-red: $red;
$text-color-dark-red: $dark-red;
$text-color-blue: $blue;
$text-color-yellow: $yellow;
$text-color-orange: $powerplay;
$text-color-force: $force;
$text-color-dynamic: $dynamic;
$text-color-strategic: $strategic;

// Progress Bar Colors
$progress-bar-color-black: $black;
$progress-bar-color-white: $white;
$progress-bar-color-grey: $grey-medium;
$progress-bar-color-light-grey: $grey-light;
$progress-bar-color-green: $green;
$progress-bar-color-red: $red;
$progress-bar-color-blue: $blue;
$progress-bar-color-yellow: $yellow;
$progress-bar-color-orange: $powerplay;
$progress-bar-color-power-passive: $power-passive;
$progress-bar-color-power-1: $orange-deep;
$progress-bar-color-power-2: $green;
$progress-bar-color-power-3: $blue;
$progress-bar-color-power-4: $purple;
$progress-bar-color-power-5: $light-yellow;
$progress-bar-color-power-none: $grey-medium;
$progress-bar-color-power-overpower: $overpower;
$progress-bar-color-hardpoint-thermal: $red;
$progress-bar-color-hardpoint-kinetic: $blue;
$progress-bar-color-hardpoint-explosive: $orange-deep;
$progress-bar-color-hardpoint-absolute: $purple;
$progress-bar-color-hardpoint-caustic: $light-yellow;
$progress-bar-color-hardpoint-antixeno: $green;
$progress-bar-color-hardpoint-none: $grey-medium;