.root {
  fx-font-size: 12px;
}

@import "variables";
@import "../default/mixins";
@import "../default/components";

// ApplicationLayout
.app {
  -fx-pref-height: 600px;
  -fx-pref-width: 800px;

  @import "../default/application-screen/application-screen";
  @import "../default/loading-screen/loading-screen";
  @import "../default/common/tooltips";
}

//label {
//  -fx-wrap-text: true;
//}

@import "../default/common/dialog";
@import "../default/common/notifications";

//bugfix?
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:pressed:filled:selected {
  -fx-background-color: rgba(51, 51, 51, 1);
}