.loading-screen {
  -fx-background-color: $background-color-dark;

  .text-title {
    -fx-font-size: 3em;
  }

  .text-status {
    -fx-font-size: 1em;
    -fx-font-style: italic;
  }

  .loadingbar {
    @include fixedHeight(2em);
    @include fixedWidth(25em);
  }
}