$background-color-dark: rgb(15, 15, 15); //0f0f0f
$background-color-light: rgb(37, 37, 37);
$background-color-lighter: rgb(46, 46, 46);
$background-color-input: #111111;
$background-color-white: rgb(255, 255, 255);
$background-color-thargoid: rgb(59, 27, 0);
$background-color-guardian: rgb(39, 1, 54);

$border-color-black: rgb(0, 0, 0);
$border-color-grey: rgb(37, 37, 37);
$border-color-white: rgb(255, 255, 255);
$border-color-yellow: rgb(220, 192, 48);

//base text colors
$text-color-green: rgb(137, 208, 127);
$text-color-red: rgb(255, 124, 124);
$text-color-blue: rgb(46, 146, 223);
$text-color-yellow: rgb(220, 192, 48);
$text-color-white: rgb(255, 255, 255);
$text-color-purple: rgb(109, 61, 168);
$text-color-grey: rgb(112, 112, 112); //#777
$text-color-black: rgb(0, 0, 0);

