name: Download from Crowdin

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  crowdin:
    runs-on: ubuntu-latest
    outputs:
      pr_number: ${{ steps.crowdin.outputs.pull_request_number }}
      pr_branch: ${{ steps.crowdin.outputs.pull_request_branch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GHA_CUSTOM_PAT }}

      - name: Synchronize with Crowdin
        uses: crowdin/github-action@v2
        id: crowdin
        with:
          upload_sources: true
          upload_translations: false
          download_translations: true
          create_pull_request: true
          pull_request_title: 'New Crowdin translations'
          pull_request_body: 'New Crowdin pull request with translations'
          pull_request_base_branch_name: 'master'
          localization_branch_name: 'crowdin-translations-${{ github.run_id }}'
          commit_message: 'Update translations from Crowdin'
          skip_untranslated_strings: true
          export_only_approved: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}